{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>You've successfuly submitted you claim for an immigration health surcharge reimbursement.</p>
      <p>You'll get your reimbursement into the bank account your immigration health surcharge was paid from.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You'll:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>get a confirmation email from us</li>
        <li>need to reapply in 6 months</li>
        <li>be able to <a href="#">set a reminder to reapply</a></li>
      </ul>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
