{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before continuing your application</h1>

      <h2 class="govuk-heading-m">Eligibility questions</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Paid an immigration health surcharge for current visa
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Job in health and social care
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Work in the health and social care job for 6 months or more
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Work an average of 16 hours or more per week
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Declaration </h2>

      <p>By continuing, you declare and agree:      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>the information you’ve given on this form, including any supporting documents, is complete and accurate</li>
          
          <li>you’re aware that <a href="">information you give may be shared with other departments</a> for the purposes of fraud prevention, detection and investigations</li>
          <li>you’re aware that information you give may be shared as part of the the Cabinet Office National Fraud Initiative (NFI) exercise to prevent and detect fraud</li>
          <li>you’re aware that the NHSBSA provides data to the NHSCFA when referrals of alleged fraud, bribery and corruption are received</li>
      </ul>

      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Giving false or misleading information, payment may be refused and you may be prosecuted
          </strong>
        </div>

      <form action="/v4/name" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
