{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>-->
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Immigration health surcharge number
          </dt>
          <dd class="govuk-summary-list__value">
            IHS123456789
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Mobile phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07700 900457
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Email address
            </dt>
            <dd class="govuk-summary-list__value">
              a.vlad@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Dependant details      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-s" style="line-height: 1.25;color: #0b0c0c;font-weight: bold;">Dependant 1</h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Michelle Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Immigration health surcharge number
          </dt>
          <dd class="govuk-summary-list__value">
            IHS123456789
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <h3 class="govuk-heading-s" style="margin-top: 20px; line-height: 1.25;color: #0b0c0c;font-weight: bold;">Dependant 2</h3>
        </div>
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              William Philips
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Immigration health surcharge number
              </dt>
              <dd class="govuk-summary-list__value">
                IHS123456789
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> contact information</span>
                </a>
              </dd>
            </div>
      </dl>

      <h2 class="govuk-heading-m">Attachment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Files added
          </dt>
          <dd class="govuk-summary-list__value">
            <p>payslip-june.jpg, 2MB</p>
            <p>payslip-july.jpg, 5MB</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

    
      <h2 class="govuk-heading-m">Declaration </h2>

      <p>By continuing, you declare and agree:      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>the information you’ve given on this form, including any supporting documents, is complete and accurate</li>
          
          <li>you’re aware that <a href="">information you give may be shared with other departments</a> for the purposes of fraud prevention, detection and investigations</li>
          <li>you’re aware that information you give may be shared as part of the the Cabinet Office National Fraud Initiative (NFI) exercise to prevent and detect fraud</li>
          <li>you’re aware that the NHSBSA provides data to the NHSCFA when referrals of alleged fraud, bribery and corruption are received</li>
      </ul>

      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Giving false or misleading information, payment may be refused and you may be prosecuted
            <p style="background: pink">If you deliberately give false or misleading information you may get less compensation or be prosecuted by XXXX for a penalty of up to YYYY.</p>
          </strong>
        
        </div>

      <form action="/v5/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
