{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/v5/check-your-answers-nhs-path" method="post">

        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
                Do you need to provide more detail about employment or attachments? (optional)
              </label>
            </h1>
            <div id="more-detail-hint" class="govuk-hint">
              Please explain any gaps in employment or work arrangements. Patternity + maternity + covid info + sick leave/incl self isolating. why the months are not consecutive
            </div>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
          
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
