{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Get a reimbursement for your immigration health surcharge 
    </h1>
    <p style="background: pink">Anyone who works in health and social care and has paid the Immigration Health Surcharge may be eligible for a reimbursement. Their dependents are also eligible for a reimbursement if they have paid the IHS. Applicants may only claim a reimbursement if they have paid the IHS in conjunction with a visa they are currently on. 
        Reimbursements are processed in six-month instalments in arrears, covering the period from 31 March 2020. This means, if you paid for the IHS in 2019, for a period of three-years, you will be able to claim 6-months worth of IHS reimbursement on 1 October 2020. This can be repeated on 1 April 2021, as long as you have met the eligibility criteria. However, any period of time before 31 March 2020 cannot be reclaimed. 
        If the claimant is in the UK on a General Work Visa (Tier 2) Visa or a Health and Care Visa, they should not claim a reimbursement through this scheme. Instead they should contact the Home Office to claim a refund, for any time remaining on their visa after 31 March 2020. From 4 August 2020, anyone applying for a Health and Care Visa does not need to pay the IHS upfront.The Reimbursement Scheme is designed for claimants who are in the UK on visas that give them a generic right to work. This may be:
        ·       a dependent of a UK national or another migrant;
        ·       someone on a Tier 4 student visa who can undertake up to 20 hours of week during term time; or
        ·       someone on the Tier 5 Youth Mobility Scheme.
        These examples are not exhaustive.</p>
    <p style="background: pink">ADD a paragraph explaining what the surcharge is. [paragraph above to be reviewed and reduced by Allan. we added just for content review use ]</p>
  
    <h2 class="govuk-heading-l">Who can apply</h2>
    <p>To be eligible for using this service, the applicant must be working or have previously worked in a health and social care sector job:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>for 6 months or more</li>
      <li>for an average of 16 hours per week</li>
      <li>on or after 31 March 2020</li>
    </ul>

    <div class="govuk-inset-text">
      A person who is eligible to use this service will be the applicant. The applicant’s dependants will also be automatically eligible.
      <p style="background: pink">Dependants eligibility will cascade down e.g. dependants only, not main</p>
    </div>

    <h2 class="govuk-heading-l">How to apply</h2>

    <p>To use this service, the applicant must apply. If you are using the service on behalf of an applicant, use their details.</p>

    <p>You can make a claim for a period of 6 months. This means you will need to reapply every 6 months to continue to get reimbursed.</p>
    <p style="background: pink">ADD the rationale + your support (eg.shorter reapplication journey, reminder, etc) + ADD an example to explain what this means:</p>
    <p>You’ll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>to give us your full name as it appears on your passport</li>
      <li>your immigration health surcharge number</li>
      <li>your National Insurance number</li>
      <li>payslips for the last 6 months, these can be attached as copies</li>
      <li style="background: pink">details about what you need for the dependants (name and ihs no)</li>
      <li style="background: pink">Access to the bank account you used to pay the surcharge -Maybe worth adding at this point to avoid people going through the form and then being disappointed.</li>
    </ul>
      
      <p style="background: pink">payment amount - 6 months of the amount paid for ihs innitially (andrew + chandra
        )</p>
    <p>Application takes around [5] minutes.</p><p style="background: pink">We will first ask you to check your eligibility and then let you fill in your application</p>

    <a href="/v5/ihs-question" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

  </div>
</div>

{% endblock %}
