{% extends "layout.html" %}

{% block pageTitle %}
  Visa type question
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v11/ihs-question">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/doug-ihs-tier2-question-v11" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="ihs-question-conditional-hint-v11">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                  What type of visa does the applicant hold?
              </h1>
            </legend> 
      
            <span id="work-question-conditional-hint" class="govuk-hint">
              To check what type of visa the applicant is on please check the entry clearance documentation, biometric residence permit or the sticker (vignette) inside their passport.
            <br>
            </span>
            <br>

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Please select an option?
              </h1>
            </legend>
        <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="doug-ihs-tier2-question-v11" type="radio" value="tier2">
              <label class="govuk-label govuk-radios__label" for="visa-type">
                Tier 2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="doug-ihs-tier2-question-v11" type="radio" value="tier5">
              <label class="govuk-label govuk-radios__label" for="visa-type">
                Tier 5
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="doug-ihs-tier2-question-v11" type="radio" value="other">
              <label class="govuk-label govuk-radios__label" for="visa-type">
                Any other
              </label>
            </div>     
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
