{% extends "layout.html" %}

{% block pageTitle %}
  Upload contract
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v11/contract-add">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/v11/contract-add2" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
              <!--<h1 class="govuk-heading-l">Upload evidence</h1>-->
              <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">Application</span>
                  Upload contract
              </h1>
          </label>
          
          <span id="file-upload-1-hint" class="govuk-hint">
              <p>The applicant must provide their contract of employment.</p>
              <p>Contract of employment can be uploaded as a scanned copy or digital photograph.</p>

      <details class="govuk-details" data-module="govuk-details">
  
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Things to remember when uploading a contract of employment
              </span>
            </summary>

          
                <ul class="govuk-list govuk-list--bullet">
                <li>your uploaded contract must be: jpg, jpeg, bmp, png or pdf and no larger than 2MB in size</li>
                <li>you upload the all the contracts of employment to cover the claim period</li>
                <!--
                <li>the upload filenames do not include brackets, full stops or numbers</li>
                -->
              </ul>
      
      </details>
      <!--
          <br>
              <p>Uploaded attachments must be:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Uploaded attachments must be: jpg, jpeg, bmp, png or pdf and no larger than 2MB in size</li>
                <li>no larger than 2MB in size</li>
                <li>you upload the correct amount of payslips to cover the claim period</li>
                <li>you upload payslips that correspond to the claim period entered</li>
                <li>there’s no duplicate payslips</li>
                <li>the payslips are not password protected</li>
                <li>the upload filenames do not include brackets, full stops or numbers</li>
              </ul>
            </span>
      -->    
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
          </div>
          
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
