{% extends "v1/layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Service is unavailable</h1>
        <p class="govuk-body">
          You will be able to use the service from [9am] on [Monday 19&nbsp;November&nbsp;2020].
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact us</a> if you need to make changes to your claim or speak to someone.
        </p>
      </div>
    </div>


 

{% endblock %}
