{% extends "v1/layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p class="govuk-body">
          You will be able to use the service later.
        </p>
        <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
        <p class="govuk-body">
          <a class="govuk-link" href="/footer/contact-us">Contact us</a> if you need to speak to someone.
        </p>
      </div>
    </div>


 

{% endblock %}
