{% extends "layout-health.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v18/subscription-question">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Immigration health surcharge number
          </dt>
          <dd class="govuk-summary-list__value">
            IHS123456789
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07700 900457
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Email address
            </dt>
            <dd class="govuk-summary-list__value">
              s.philips@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Dependant details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!--<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Dependants
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Dependant 1
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Michelle Philips</p>
            <p>15 January 2000</p>
            <p>IHS123456789</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v18/check-your-answers-delete-dependant">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Dependant 2
            </dt>
            <dd class="govuk-summary-list__value">
                <p>William Philips</p>
                <p>7 June 2003</p>
                <p>IHS123456789</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v18/check-your-answers-delete-dependant">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Employment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Employer 1
          </dt>
          <dd class="govuk-summary-list__value">
              <p>NHS Business Services Authority</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Employer 2
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Boots</p>
              <p>Senior pharmacist Opt 1</p>
              <p>Hospital</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Evidence details</h2>
      <div class="govuk-inset-text" style="overflow:hidden;">
        <span class="govuk-hint govuk-!-margin-bottom-0">
           Evidence should cover the period: <strong>30 April 2020</strong> to <strong>29 October
            2020</strong>
        </span>
    </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Claim starting date
          </dt>
          <dd class="govuk-summary-list__value">
            <p>31 March 2020</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="claim-dates-new-edit">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Payslip and contract evidence
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Payslip-jun.jpg</p>
            <p>Payslip-jul.jpg</p>
            <p>Payslip-aug.jpg</p>
            <p>Payslip-sep.jpg</p>
            <p>Contract.pdf</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v18/contract-add">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Comments
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v18/comments">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Additional evidence
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Contract.pdf</p>
              <p>Employer-letter.pdf</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v18/contract-add-3">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Email subscriptions</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reminder email
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Yes</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v18/subscription-question">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        
      </dl>


      <form action="/v18/check-your-answers2" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
