{% extends "layout.html" %}

{% block pageTitle %}
  Share code
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v13/ihs-number">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Application</span>
          What's the applicant's visa share code?
      </h1>

      <div class="govuk-hint">
        <span id="access-code-hint" class="form-hint">For example, A12 345 67G</span>
      </div>

      <form class="form" action="/v13/manual-address" method="post">

        <div class="govuk-form-group">
          <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="share code" type="text" aria-describedby="national-insurance-number-hint" spellcheck="false">
        </div>
        <p>If the applicant does not have a share code, use the <a href="https://www.gov.uk/view-prove-immigration-status" target="_blank">view and prove your immigration status</a> service to request one. 
          
        <p>A share code is valid for 30 days.</p>
          
        <p>If an existing share code has been used, a new share code will need to be generated.</p>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
