{% extends "layout-health.html" %}

{% block pageTitle %}
  DOB
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"><span class="govuk-caption-l govuk-caption--bottom">Reset your password</span>What is your email address?</h1>

      <p>If your email address is linked to a NHS Learning Support account we'll send you a password reset email.</p>

      <div class="govuk-form-group">
          <label class="govuk-label" for="recover-username">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="recover-username" name="recover-username" type="text">
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot access my emails
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you cannot access your emails, contact us on:</p>
          <ul class="govuk-list">
            <li>Telephone: 0300 330 0521</li>
            <li>Text relay service: 0800 7311 888</li>
          </ul>
          <p>We're open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>

        </div>
      </details>

      <a class="govuk-button" href="recovery-sent-password">Send email</a><br>
      <p><a href="sign-in">Cancel</a></p>

  </div>

</div>
{% endblock %}
