{% extends "layout-portal.html" %}

{% block pageTitle %}
  DOB
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"><span class="govuk-caption-l govuk-caption--bottom">Recover your username</span>What is your email address?</h1>

      <p>If your email address is associated with an IHS reimbursement account, we'll send you a reminder of your username.</p>

      <div class="govuk-form-group">
          <label class="govuk-label" for="recover-username">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="recover-username" name="recover-username" type="text">
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I no longer have access to this email account
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you no longer have access to your email account. you can call us on:</p>
          <ul class="govuk-list govuk-u-font-weight-bold">
            <li>Telephone: 0300 330 0521</li>
            <li>Text relay service: 0800 7311 888</li>
          </ul>
          <p>We are open Monday to Friday 8am to 6pm and Saturday 9am to 3pm.</p>
      
        </div>
      </details>

      <a class="govuk-button" href="recovery-sent">Send</a><br>
             

  </div>

</div>
{% endblock %}
