{% extends "layout-portal-signed-out.html" %}

{% block pageTitle %}
  Do you have a NINO
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-l">What is your National Insurance number?</h1>

    <div class="govuk-form-group">
      <p>It must be the number you used as part of your previous IHS applications.</p>
      <div id="national-insurance-number-hint" class="govuk-hint">
         For example, ‘QQ 12 34 56 C’.
      </div>
      <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="nationalInsuranceNumber" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is my National Insurance number?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>If you are unable to locate your National Insurance number, refer to <a href="https://www.gov.uk/find-national-insurance-number">find your National Insurance number (opens in a new tab)</a>.</p>
      </div>
    </details>

    {% if data['change'] == "true" %}
      <a class="govuk-button" href="national-insurance-number-changed">Save and continue</a><br>
      <p><a href="dashboard?questionnaire-completed=Completed#tab-two">Cancel</a></p>
    {% else %}
      <a class="govuk-button" href="username-password">Continue</a><br>
    {% endif %}

  </div>

</div>
{% endblock %}
