{% extends "layout-health.html" %}

{% block pageTitle %}
  DOB
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    

    {% if data['new-email'] == "sent" %}
      <div class="govuk-inset-text">
        <span class="govuk-u-visually-hidden">Information: </span>
        <p>New email sent.</p>
      </div>
    {% endif %}

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title"> Password reset email sent to joe.bloggs@email.com </h1>
      
    </div>

    <p>We've sent you an email with a link to reset your password.  You can then sign in to your IHS reimbursement Account using the new password.</p>

    <h2 class="govuk-heading-m">What to do if you do not receive the email</h2>

    <p>We'll only email you if the email address you entered is linked with an account. Check that you have entered the correct address.</p>

    <p>If you did, check your spam or junk folder as the email may be there. If it's not, you can <a href="forgotten-password">send a new email</a>.</p>

    <p>If you have any further problems, you can contact us by:</p>

    <ul class="govuk-list">
        <li>Telephone: 0300 330 0521</li>
        <li>Text relay service: 0800 7311 888</li>
    </ul>

    <p>We're open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>

    <p><a href="sign-in">Return to Sign in</a></p>

    <!-- <a href="recovery-sent-password-2fa">[link from email]</a> -->

  </div>

</div>
{% endblock %}
