{% extends "layout-portal.html" %}

{% block pageTitle %}
We've sent you a reminder email
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">




    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">We've sent you a reminder email </h1>
      <div class="govuk-panel__body">
        We've sent an email to dave.smith@email.com with your username.

      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>If you do not get the email within a few minutes, check your spam or junk folder. If you still do not have an
      email, you can contact us for help.
    </p>


    <h2 class="govuk-heading-m">Contact us</h2>



    <div class="contact">
      <p>Email: <a href="mailto:IHSreimbursements@nhsbsa.nhs.uk">IHSreimbursements@nhsbsa.nhs.uk</a></p>
    </div>

    <div class="contact">
      <p>If you’re in the UK <br>
        Telephone: 0300 330 7693 <br>
        Monday to Friday, 9am to 5pm <br>
        <a href="/call-charges">Find out about call charges</a>
      </p>
    </div>

    <div class="contact">
      <p>If you’re outside the UK <br>
        Telephone: +44 (0) 191 283 8937 <br>
        Monday to Friday, 9am to 5pm</p>
    </div>

    <p>We are open Monday to Friday 8am to 6pm and Saturday 9am to 3pm.</p>

  </div>

</div>
{% endblock %}