{% extends "layout-portal.html" %}

{% block pageTitle %}
  DOB
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Register for an IHS reimbursement account</h1>

      <p>Once you've registered for an IHS reimbursement account, you'll be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>apply for an IHS reimbursement</li>
          <li>update your personal details</li>
          <li>update your employment or student information</li>
          <li>check application and payment statuses</li>
      </ul>

      

      <p>Registering takes around 5 minutes.</p>

      <a class="govuk-button" href="contact-details">Start now</a>

      

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>We'll ask you for your:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>email address</li>
          <li>mobile number</li>
          <li>date of birth</li>
          <li>IHS number</li>
          <li>national insurance number</li>
      </ul>

      <p>We'll also ask for your National Insurance number, if you have one.</p>

      <h2 class="govuk-heading-m">If you need help using the service</h2>

      <p>If you have any questions about registering for an NHS Learning Support Fund account, you can <a href="#">contact us (opens in a new tab)</a>.</p>

  </div>

</div>
{% endblock %}
