{% extends "layout-portal-signed-out.html" %}

{% block pageTitle %}
  DOB
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Create an IHS reimbursement account</h1>

      <p>You can use your account to:</p>

       

      <ul class="govuk-list govuk-list--bullet">
          <li>apply for an IHS reimbursement</li>
          <li>update your personal details</li>
          <li>update your employment or student information</li>
          <li>check application details</li>
          <li>        check the status for any payments you are waiting for</li>
      </ul>

      

      <p>Creating an account will take around 5 minutes.</p>

     

      

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>We'll ask you for your:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>email address</li>
          <li>UK mobile phone number</li>
          <li>date of birth</li>
          <li>IHS number</li>
          <li>National insurance number</li>
      </ul>

      <a class="govuk-button" href="contact-details">Start now</a>


      <h2 class="govuk-heading-m">Help</h2>

      <p><a href="#">Contact us</a> if you need help creating your account.</p>

  </div>

</div>
{% endblock %}
