{% extends "layout-portal-signed-out.html" %}

{% block pageTitle %}
  Registration
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title"> IHS reimbursement account created </h1>
            <h2 class="govuk-card__heading govuk-u-font-weight-normal" style="text-align: center; color: white;">
                Your account application number is <strong>IHS0000060</strong>
              </h2>
          </div>

        <p>We've sent a confirmation email to email@email.co.uk. You need activate your account using the link in the email within 72 hours. If you do not, you'll need to create a new account.</p>

        <h2 class="govuk-heading-m">What to do if you do not receive the email</h2>
        <p>Check your spam or junk folder, as the email may be there. If it is not, you can request a new activation link after signing in to your account.</p>

        <p>If you still do not receive an email, try to create another account. You'll need to use a different email address and create a new username.</p>

        <p>If you have any further problems, you can <a href="#">contact us (opens in a new tab)</a>.</p>

        <p><a href="start">Sign in to your IHS reimbursement account</a></p>


    </div>

</div>
{% endblock %}