{% extends "layout-portal-signed-out.html" %}

{% block pageTitle %}
  What is your address?
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    

      <h1 class="govuk-heading-l">Create your username and password</h1>

      <p>Your password must have at least 3 of the following:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an uppercase letter</li>
        <li>a lowercase letter</li>
        <li>a number</li>
        <li>a special character, for example, ! or #</li>
      </ul>

      <div class="govuk-form-group">
          <label class="govuk-label" for="username">
            Username
          </label>
          <input class="govuk-input govuk-input--width-20" id="username" name="username" type="text">
      </div>
      <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password">
      </div>
      <div class="govuk-form-group">
          <label class="govuk-label" for="confirm-password">
            Confirm password
          </label>
          <input class="govuk-input govuk-input--width-20" id="confirm-password" name="confirm-password" type="password">
      </div>
      <a class="govuk-button" href="registration-cya">Continue</a><br>

  </div>

</div>
{% endblock %}
