{% extends " layout-portal.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation" style="background-color: rgb(197, 32, 32);">
      <h1 class="govuk-panel__title">
        Application rejected
      </h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    
    </div>
    <br>

    <h2 class="govuk-heading-l">Rejection reason</h2>
        <p>This application was rejected before it overlapped with a previous claim. You need to reapply using the correct claim dates.</p>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Apply now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
    <h2 class="govuk-heading-l">Application details</h2>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">Dave Smith</dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date of birth</dt>
            <dd class="govuk-summary-list__value">1 September 2020</dd>
           
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">National Insurance number</dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 C
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">IHS number</dt>
            <dd class="govuk-summary-list__value">
              IHS12345678
            </dd>
            
          </div>
        </dl>
        <br>

        <h2 class="govuk-heading-m">Employment details</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Employer name</dt>
            <dd class="govuk-summary-list__value">NHSBSA</dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Role</dt>
            <dd class="govuk-summary-list__value">Interaction Designer</dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Job setting (could be removed)</dt>
            <dd class="govuk-summary-list__value">
              Office work for NHSBSA
            </dd>
            <dd class="govuk-summary-list__actions">
            
            </dd>
          </div>

        </dl>
        <br>
        <h2 class="govuk-heading-m">Claim details</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Application reference number</dt>
            <dd class="govuk-summary-list__value">HDJ2123F</dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Claim start date</dt>
            <dd class="govuk-summary-list__value">1 January 2024</dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Claim end date</dt>
            <dd class="govuk-summary-list__value">
              31 June 2024
            </dd>
            
          </div>

        </dl>
        <br>
        <h2 class="govuk-heading-m">Evidence uploaded</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contract</dt>
            <dd class="govuk-summary-list__value">Bsa-contract.pdf</dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Payslips</dt>
            <dd class="govuk-summary-list__value">jan-24.pdf<br>feb-24.pdf<br>march-24.pdf<br>april-24.pdf<br>may-24.pdf<br>june-24.pdf</dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Extra information</dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
            
          </div>

        </dl>

        


  </div>

</div>



</div>
{% endblock %}