{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
Changes to the online immigration health surcharge reimbursement application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<style>
  .guide .part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1b4b6;
  }

  .gem-c-contents-list {
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 15px -10px #fff;
  }

  .gem-c-contents-list__title {
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }

  .gem-c-contents-list__list,
  .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ol,
  ul,
  nav ol,
  nav ul {
    list-style: inherit;
  }

  .gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
  }

  .gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
  }

  .gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }

  @media (min-width: 40.0625em) {
    .gem-c-contents-list__title {
      font-size: 16px;
      line-height: 1.5;
    }

    .gem-c-contents-list__list,
    .gem-c-contents-list__nested-list {
      font-size: 16px;
      line-height: 1.25;
    }

    .gem-c-contents-list__list-item {
      padding-top: 7.5px;
    }
  }

  .gem-c-govspeak .contact {
    position: relative;
  }

  .gem-c-govspeak .address,
  .gem-c-govspeak .contact {
    border-left: 1px solid #b1b4b6;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .labeled-images-container {
    clear: both;
}
.govuk-\!-padding-top-2 {
    padding-top: 10px !important;
}
.govuk-\!-margin-bottom-5 {
    margin-bottom: 15px !important;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.govuk-template {
    background-color: #f3f2f1;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
:root {
    --govuk-frontend-version: "4.8.0";
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Changes to the online immigration health surcharge reimbursement application
    </h1>

    <p>The changes we explain on this page were made in March 2026.</p>



    <h2 class="govuk-heading-m">Changes to our duplicate and overlap checks </h2>

    <p>To help reduce the number of duplicate and overlapping claims received, we have improved the verification checks to prevent any claims with matching claim dates, IHS numbers or National Insurance numbers.
    </p>
    <p>This will reduce the number of rejections and potential over payments.</p>

    <p>This means that people who made a duplicate or overlapping claim to apply for their dependant with a different claim period will be unable to do so.</p>


    <h2 class="govuk-heading-m">Dependants with different visa start or claim period dates
</h3>
<p>You can only apply for an immigration healthcare surcharge (IHS) in full 6-month periods.</p>
<p>If the depenedant's visa started <strong>after</strong> the main applicant's, their reimbursement period may not line up at first.</p>  
<p>To avoid problems with future clams, you may need to <strong>leave your dependant off your first claim</strong> and then add them from your next claim instead.</p>
    
    <!-- <img src="/public/images/contract-cropped.png" alt="" style="height: 1000px;"> -->

    
    <h2 class="govuk-heading-s">Example</h2>

      <div class="govuk-inset-text">

        <p><strong>Main applicant claim period:</strong> 1 January 2022 to 30 June 2022</p>
        <p><strong>Dependant claim period:</strong> 1 March 2022 to 31 August 2022</p>

        <p>Because your dependant's visa started later, their first full 6-month period does not match your January to June claim.</p>
       

      </div>

       <h2 class="govuk-heading-s">What you need to do</h2>
       <p>If the dependant's visa started later than the main applicant you must:</p>

       <ol class="govuk-list govuk-list--number">
  <li>Submit your first claim without your dependant - this will cover the main applicants 6 month period only.</li>
  <li>Add the dependant to the next claim - from the next claim onwards, the claim periods will be aligned and you can apply as normal going forward.</li>

</ol>

       


      <!-- <div class="govuk-!-margin-bottom-5 govuk-!-padding-top-2 labeled-images-container">
        <div>
          <img src="/public/images/task-list.png" style=" border: 2.5px solid black;   max-width: 100%; height: auto; width: auto;">
        </div>
        
      </div> -->

      <style>.responsive-screenshot {
  max-width: 100%;
  height: auto;

  display: block;
}</style>



    <!-- <img src="/public/images/upload-cropped.png" alt="" style="height: 1000px;"> -->


  </div>


  <br><br>





</div>


</div>
{% endblock %}