{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    <div>

      <h1 class="govuk-heading-xl">
        Add or link a dependant to an existing immigration health surcharge reimbursement claim
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add a missing dependant to an existing Immigration Health Surcharge (IHS) reimbursement claim</li>
        <li>create a separate dependant claim if their IHS start date is different from the main applicant's</li>
      </ul>

      <h2 class="govuk-heading-m">Eligibility</h2>


      <p>You can only use this service if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you have already made a claim as the main applicant</li>
        <li>your main applicant claim has been paid and successful</li>
        <li>you want to link a dependant to that claim</li>
      </ul>

      <p>The dependant's claim must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be linked to a main applicant claim that has already been paid</li>
        <li>cover the same claim period, or a period within it</li>
  
      </ul>

      <p>If your main applicant claim has not been paid yet, you must wait until you receive payment before adding dependants.</p>


 <h2 class="govuk-heading-m">Before you start</h2>

<p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the main applicant's claim reference number</li>
        <li>the main applicant's date of birth</li>
        <li>the main applicant's National Insurance number</li>
        <li>the dependant's personal details</li>
        <li>the dependant's claim period start date</li>
      </ul>

      <p>The service will check that the main applicant claim has been approved and that the dependant is not already included on an existing claim for the same period.</p>



<a href="bsa-reference" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>



    </div>



  </div>


</div>
{% endblock %}