{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
Dependant question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="/v20/telephone-number">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="/version-20-dependant-question" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dependant-question-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
            <!--<h1 class="govuk-fieldset__heading">
                Do you want to add any dependants who have paid an immigration health surcharge?
              </h1>-->
            <span class="govuk-caption-l">Application</span>
            <h1 class="govuk-fieldset__heading">Do you want to add any dependants who have paid an immigration health
              surcharge?</h1>
          </legend>

          <!-- <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              If you do not add your dependant to your claim now, you will be unable to in the future.
            </strong>
          </div> -->
          <p>
            Dependants are people who the applicant supports financially.
            For example, the applicant's spouse or children.
          </p>




          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios govuk-radios--conditional govuk-radios--inline" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="dependant-question-conditional" name="dependant-question-v20"
                  type="radio" value="yes" data-aria-controls="conditional-dependant-question-conditional">
                <label class="govuk-label govuk-radios__label" for="dependant-question-conditional">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="dependant-question-conditional-2" name="dependant-question-v20"
                  type="radio" value="no" data-aria-controls="conditional-dependant-question-conditional-2">
                <label class="govuk-label govuk-radios__label" for="dependant-question-conditional-2">
                  No
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Forgotten to add dependants to a previous claim?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you've already made an application for your own reimbursement without including your dependants, you can <a href="/v20/dependant/bsa-reference">make a separate application for your dependants online (opens in a new tab)</a>.</p>
          <p>You'll need to tell us your BSA reference number and your National Insurance number so that we can add your dependants to the correct application. apply using our online service.</p>
        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}