{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div>

      <h1 class="govuk-heading-xl">
        Apply for a dependant connected to an existing claim </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add a dependant to an existing Immigration Health Surcharge (IHS) reimbursement claim</li>
        <li>create a separate claim for a dependant if their claim period start date is different from the main
          applicant's</li>
      </ul>

      <h2 class="govuk-heading-m">Eligibility</h2>




      <p>The main applicant's claim must have been approved and paid before using this service to add a dependant to it.
      </p>
      <p>The dependant's 6-month claim must cover the same period as the main applicant's, or have a start date within
        this period.</p>

      <h2 class="govuk-heading-s">Example</h2>

      <div class="govuk-inset-text">

        <p><strong>Main applicant claim period:</strong> 1 January 2022 to 30 June 2022</p>


        <p>The dependant's claim period start date must fall within these dates to be added to this claim period.</p>

        <p>If the dependant's claim start date is 1 July 2022 or later, it would have to be added to the main
          applicant's next claim of July to December.</p>
      </div>


      <h2 class="govuk-heading-m">Evidence</h2>
      <p>We will use the payslips previously uploaded as part of the main applicant's claim as evidence for the
        dependant's claim, where the dates overlap.</p>

      <p>You will have to provide payslips for the dependant's claim period where it does not overlap the main
        applicant's.</p>

      <h2 class="govuk-heading-s">Example</h2>

      <div class="govuk-inset-text">

        <p><strong>Main applicant claim period:</strong> 1 January 2022 to 30 June 2022</p>
        <p><strong>Dependant claim period:</strong> 1 March 2022 to 31 August 2022</p>


        <p>We would use the March, April, May and June payslips from the main applicant's claim. You would need to
          provide payslips covering July and August for the dependant's claim.</p>

      </div>
      <p>These payslips must show the main applicant was still working in a health and social care role for these extra
        months.</p>




      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the main applicant's claim reference number</li>
        <li>the main applicant's date of birth</li>
        <li>the main applicant's National Insurance number</li>
        <li>the dependant's personal details</li>
        <li>the dependant's claim period start date</li>
        <li>payslips to cover the dependant's claim period</li>
      </ul>

      <p>The service will check that the main applicant's claim has been approved and that the dependant is not already
        included on an existing claim for the same period.</p>



      <a href="bsa-reference" type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </a>



    </div>



  </div>


</div>
{% endblock %}