{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    <div>

      <h1 class="govuk-heading-xl">
Apply for a dependant connected to an existing claim      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add a dependant to an existing Immigration Health Surcharge (IHS) reimbursement claim</li>
        <li>create a separate claim for a dependant if their claim period start date is different from the main applicant's</li>
      </ul>

      <h2 class="govuk-heading-m">Eligibility</h2>


      

<p>Only use this service if you want to add a dependant to an existing main applicant's claim which has been approved and paid.</p>
<p>The dependant's claim must cover the same period as the main applicant's, or a period within it.</p>
<p>If the main applicant's claim has not been paid yet, you must wait until you receive payment before adding dependants.</p>

 <h2 class="govuk-heading-m">Before you start</h2>

<p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the main applicant's claim reference number</li>
        <li>the main applicant's date of birth</li>
        <li>the main applicant's National Insurance number</li>
        <li>the dependant's personal details</li>
        <li>the dependant's claim period start date</li>
      </ul>

      <p>The service will check that the main applicant claim has been approved and that the dependant is not already included on an existing claim for the same period.</p>



<a href="bsa-reference" type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</a>



    </div>



  </div>


</div>
{% endblock %}