{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">We could not find an application</h1>

    <p>We could not find an application matching the details you've given us.</p>

    <h2 class="govuk-heading-m">Check your details</h2>

    <form class="form" action="/v10/start" method="post">

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            BSA reference number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bsa-number'] or "Not provided" }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nino'] or "Not provided" }}
          </dd>
        </div>

      </dl>

      <p class="govuk-body">If any details are incorrect, you can <a href="bsa-reference">try again</a>.</p>

    </form>

  </div>
</div>

{% endblock %}
