{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Apply for an immigration health surcharge reimbursement if you work in health and social care 
    </h1>

    <p>You may be able to get a reimbursement if you paid the immigration health surcharge (IHS) and you work in the health and social care sector. 
    The health and social care sector included hospitals, GP practices, care homes and community healthcare facilities.</p>
    <p>There is a different process if you have a Tier 2 (General) visa and would be eligible for a Tier 2 (General) Health and Care visa. You may be entitled to a refund of your IHS from 31 March.</p>
    <p><a href="start-gov-agreed">Apply for an IHS refund if you work in health and social care<a/></p>
    <p>If you are not eligible for a Tier 2 (General) Health and Care visa you could be entitled to claim reimbursement</p>
    

    <h2 class="govuk-heading-l">Who can apply</h2>
    <p>Either the applicant themselves or someone acting on behalf of the applicant can use this service. The details entered should be those of the applicant.</p>
    <p>To be eligible to use this service, the applicant must be working or have previously worked in a health and social care sector job:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>for 6 months or more, for an average of 16 hours per week</li>
      <li>on or after 31 March 2020, in order to get a reimbursement, any charges before this date cannot be reimbursed</li>
      <li>and paid a surcharge for the relevant period</li>
    </ul>
    <br>

    <p>Applicants will not be eligible if they were unemployed or had unpaid leave for more than 28 days during the 6 months. However, the 6 months can include paid leave, such as maternity or statutory sick leave.</p>
    <p>The applicant's dependants will also be automatically eligible. A main applicant will be able to add dependants using this service, but dependants cannot add a main applicant.</p>
    <p>Applicants can apply for the reimbursement if they work in an eligible role in the health or care sector, including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>direct patient care, for example, as a health care assistant or social care worker</li>
      <li>administrative or leadership, for example, as a manager in a care home, or a hospital receptionist</li>
      <li>facilities management, for example, as a cleaner, caterer or courier in a hospital</li>
    </ul>

    <p>They must also work for an eligible organisation, such as:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the NHS</li>
      <li>the Care Quality Commission (CQC)</li>
      <li>Health Education England (HEE)</li>
      <li>Medicines and Healthcare products Regulatory Agency (MHRA)</li>
      <li>Public Health England (PHE)</li>
      <li>the National Institute for Health and Care Excellence (NICE)</li>
    </ul>

    <p><a href="https://www.gov.uk/government/publications/immigration-health-surcharge-applying-for-a-refund/immigration-health-surcharge-guidance-for-reimbursement-2020#annex">View a list of jobs and organisations which are eligible</a>.</p>

    <h2 class="govuk-heading-l">Information you will need before you apply</h2>
    <p>You will need the applicant's:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>full name as it appears on their passport</li>
      <li>immigration health surcharge number</li>
      <li>payslips to cover each month of the 6-month period of the claim - these can be uploaded as copies</li>
      <li>dependants' details, if applicable – you will need their names and immigration health surcharge numbers</li>
    </ul>

    <p>Claims can be made for periods of 6 months. After that, the applicant may need to claim again.</p>

    <h2 class="govuk-heading-l">How we'll reimburse you</h2>
    <p>We'll reimburse the applicant 6-months' worth of payments in arrears. Reimbursement claims cannot be made for any period before 31 March 2020.</p>
    <p>The reimbursement amount will be 6-months' worth of what the applicant has paid for their immigration health surcharge.</p>
    <p>The applicant will get their reimbursement as one single payment through the same payment method they used to pay the IHS.</p>
    <p>This application takes around 30 minutes.</p>
    <p>If you do not enter any information for more than 30 minutes, your application will time out and you'll have to start again.</p>

    <a href="/v7/ihs-question" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <section class="more">
      

        <div id="other-ways-to-apply">

          
      <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
          
            <p>If you need assistance with your application, contact us by:</p>
      
 <ul class="govuk-list govuk-list--bullet">
      <li>Telephone: 0300 330 7693</li>
      <li>Monday to Friday, 8am to 6pm</li>
      <li>Saturday, 9am to 3pm</li>
    </ul>

      <a href="/call-charges">Find out about call charges</a></p>
      </div>
      
      </div>
        </div>
      
        </section>
  </div>
</div>

{% endblock %}
