{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Dependant application</span>

    <h1 class="govuk-heading-l">This dependant cannot be added to this claim as they have already been rejected</h1>

    <p>You cannot this dependant to this application as they have already been added to the claim and they were rejected.</p>
    

  

    <form class="form" action="/v10/start" method="post">

   

    <form class="form" action="/v10/start" method="post">
    <h2 class="govuk-heading-m">Dependant details</h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
           Michelle Philips
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            15 January 2000
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            IHS number
          </dt>
          <dd class="govuk-summary-list__value">
            IHS123456789
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dependant claim start date
          </dt>
          <dd class="govuk-summary-list__value">
           15 March 2022
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dependant claim end date
          </dt>
          <dd class="govuk-summary-list__value">
           14 September 2022
          </dd>
        </div>



      </dl>

      </p>

    </form>

      <p class="govuk-body">If your dependant was rejected previously due to an error with their information, you can <a href="dependant-details">try again</a> using their corrected information.</p>

    </form>

  </div>
</div>

{% endblock %}
