{% extends "layout-health.html" %}

{% block pageTitle %}
  Reimbursement start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/visas-immigration">Visas and immigration</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"href="https://www.gov.uk/browse/visas-immigration/work-visas"> Work in the UK</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<style>
.guide .part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1b4b6;
}
.gem-c-contents-list {
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 15px -10px #fff;
}
.gem-c-contents-list__title {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}
.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ol, ul, nav ol, nav ul {
    list-style: inherit;
}
.gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}
.gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
}
.gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}
@media (min-width: 40.0625em){
  .gem-c-contents-list__title {
      font-size: 16px;
      line-height: 1.5;
  }
  .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    font-size: 16px;
    line-height: 1.25;
  }
  .gem-c-contents-list__list-item {
      padding-top: 7.5px;
  }
}
.gem-c-govspeak .contact {
    position: relative;
}
.gem-c-govspeak .address, .gem-c-govspeak .contact {
    border-left: 1px solid #b1b4b6;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

</style>

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            We'll be carrying out maintenance on the service on Wednesday 5 June. On this day, the service may be unavailable for a short period of time.
          </p>
        </div>
      </div>
      

      <h1 class="govuk-heading-xl">
        Get an immigration health surcharge refund if you work in health and care
      </h1>

      <aside class="part-navigation-container" role="complementary" style="border-bottom: 1px solid #b1b4b6; margin-top: 30px; margin-bottom: 30px; padding-bottom: 15px;">
        <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="/v20-ur-mvp/start-refund">Who can get a refund</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="/v20-ur-mvp/start-tier2">If you have a Tier 2 visa and you're a medical professional</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="/v20-ur-mvp/start">If you do not have a Tier 2 visa or you work in another health or care role</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="/v20-ur-mvp/start-tier5">If you have a Tier 5 Medical Training Initiative (MTI) visa</a>
            </li>
        </ol> 
        </nav>
    </aside>
  
   <h2 class="govuk-heading-m">If you do not have a Tier 2 visa or you work in another health or care role</h2>
    <p>You can apply online for a refund ('reimbursement') if either:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you're a medical professional and you're not eligible to apply for a refund, for example because you do not have a Tier 2 (General) visa</li>
      <li>you work in another role in a healthcare setting</li>
    </ul>
<br>
    <p>Healthcare settings include hospitals, GP practices, care homes and community healthcare facilities.</p>

<br>
<h2 class="govuk-heading-m">Eligibility</h2>
<p>You must have paid the immigration health surcharge (IHS) and both:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>work for an eligible company or organisation, for example the NHS or the Care Quality Commission (CQC) - read 'Annex A' of the detailed guidance to check eligibility</li>
  <li>have worked in your role for at least 6 months, for an average of at least 16 hours a week</li>
</ul>
<br>
<p>The 6 months can include paid leave, such as maternity or statutory sick leave.</p>
<p>You will not be eligible if you were unemployed or had unpaid leave for more than 28 days during the last 6 months.</p>
<br>

<h2 class="govuk-heading-m">What you'll get</h2>
<p>You can apply for a refund for one 6-month period at a time, starting on or after 31 March 2020.</p>
<h2 class="govuk-heading-s">Example</h2>
<div class="govuk-inset-text">
  <p>If you paid the IHS on 31 December 2019, you could get money back for the period of time between 31 March and 30 September 2020.</p>
  <p>You could not claim for the period of time between 31 December 2019 and 30 March 2020.</p>
</div>
<p>You'll need to apply every 6 months to claim a refund for additional periods of time.</p>

<h2 class="govuk-heading-m">Dependants</h2>
    <p>If you're eligible, your dependants can also get a refund. You must include them in your application.</p>

    <h2 class="govuk-heading-m">Apply online</h2>
<p>To apply, you'll need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your IHS number (this is a 12-digit number)</li>
  <li>your National Insurance number</li>
  <li>your email address</li>
  <li>the name of your employer</li>
  <li>copies of your payslips for the 6 months you're claiming for - you can upload them as either a scan or a photo</li>
</ul>
<div class="govuk-inset-text">
  <p>If you're applying for your dependants, you'll also need their IHS number.</p>
</div>
<p>If your application is successful, we'll send the money within 3 months. It will be sent to the account that was used to pay for the IHS. If a third party paid your IHS, the money will go to their account.</p>

<!-- <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text " >
    <span class="govuk-warning-text__assistive">Warning</span>
    If the applicant's Immigration Health Surcharge payment was made by a third party, such as a legal representative or agent, all reimbursements will be made to the third party. The applicant will need to contact the third party to reclaim these funds.
  </strong>
</div>  -->

    <a href="/v20-ur-mvp/ihs-question" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

<section class="more">
  <br>
      <div id="other-ways-to-apply">
          <h2 class="govuk-heading-m">Help</h2>
          
      <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
          
            <p>Contact the NHS Business Services Authority (BSA) if you need help with your application.</p>
      
      <div class="contact">
      <p>If you're in the UK <br>
      Telephone: 0300 330 7693 <br>
      Monday to Friday, 8am to 6pm <br>
      <a href="/call-charges">Find out about call charges</a></p>
      </div>
      
      <div class="contact">
      <p>If you're outside the UK<br>
      Telephone: +44 (0) 191 283 8937 <br>
      Monday to Friday, 9am to 5pm <br>
      
      </div>
      </div>
      </div>
      
      </section>



  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href=https://www.gov.uk/healthcare-immigration-application>
              Pay for UK healthcare as part of your immigration application
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    </div>
  </div>
{% endblock %}
