{% extends "layout.html" %}

{% block pageTitle %}
Comments
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/v20-UR-mvp/contract-add-3" method="post">
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Application</span>
            Add extra information or upload evidence about gaps in the applicant's employment or working arrangements
          </h1>
        </div>
        <div class="govuk-warning-text" style="margin-top:30px;">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Do not include personal or financial information, like a National Insurance number or credit card
            details.
          </strong>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="comments">
                  Extra information
                </label>
                <div id="with-hint-hint" class="govuk-hint">
                  Give as much information as possible, including start and end dates of the gaps.
                </div>

                <textarea class="govuk-textarea govuk-js-character-count" id="commentsSSP" name="commentsSSP" rows="5"
                  aria-describedby="with-hint-info with-hint-hint"></textarea>
              </div>
              <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You can enter up to 2000 characters
              </div>
            </div>



          

              <div class="govuk-form-group">
                

                <p>
                  If possible, the applicant should upload evidence to support their extra information.<br /><br />This can be a letter
                    from their employer, such as: 
                    <ul class="govuk-list govuk-list--bullet">
                      <li>an employer's agreement</li>
                      <li>or a letter about any maternity, paternity,
                        family care, or illness</li>
                    </ul>
                  </p>
                <br />

                <span id="file-upload-1-hint" class="govuk-hint">
                  <p>Uploaded evidence must be:</p>
                  <ul class=“govuk-list govuk-list--bullet”>
                    <li>clear and readable</li>
                    <li>descriptive, with the file name containing the period that the evidence covers such as
                      'maternity-letter-090123-150123.pdf'</li>
                    <li>JPG, JPEG, BMP, PNG or PDF</li>
                    <li>no larger than 2MB in size for single files</li>
                  </ul>
                </span>
                <label class="govuk-label govuk-label--m" for="documents">
                  Upload file
                </label>
                
                  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file"
                    aria-describedby="file-upload-1-hint">
               


              </div>

</div>

            </div>
          </div>
        </div>

      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}