{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Apply for your immigration health surcharge reimbursement 
    </h1>
    <h2 class="govuk-heading-l">What you'll get</h2>
    <p>This service is designed for applicants who hold visas in the UK, to be able to make a claim to get a reimbursement for any immigration health surcharges they have paid whilst on their current visa.</p>
    <p>Reimbursements are processed in 6-month instalments, in arrears, covering the period from 31 March 2020. The maximum amount to be reimbursed is £200 per person.</p>
    <p>The applicant will need to reapply after every 6 months to continue getting reimbursed.</p>
    <p>A reimbursement claim cannot be made for any period before 31 March 2020.</p>

    <h2 class="govuk-heading-l">Who can apply</h2>
    <p>To be eligible for using this service, the applicant must be working or have previously worked in a health and social care sector job:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>for 6 months or more</li>
      <li>for an average of 16 hours per week</li>
      <li>on or after 31 March 2020</li>
    </ul>

    <p>Applicants can only claim a reimbursement if they have paid a surcharge whilst on their current visa.</p>
    <div class="govuk-inset-text">
      A person who is eligible to use this service will be the applicant. The applicant’s dependants will also be automatically eligible. A main applicant will be able to add dependants using this service, but dependants cannot add a main applicant.
    </div>

    <h2 class="govuk-heading-l">How to apply</h2>
    <p>To use this service, the applicant must apply. If you are using the service on behalf of an applicant, use their details. Claims made will be for a period of 6 months.</p>

    <p>You’ll need the applicant’s:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>full name as it appears on their passport</li>
      <li>immigration health surcharge number</li>
      <li>payslips to cover each month of the 6-month period of the claim - these can be uploaded as copies using this service</li>
      <li>payment method that the immigration health surcharge was paid from and access to it</li>
      <li>dependants’ details, if applicable - you'll need their names and immigration health surcharge numbers</li>
    </ul>

    <h2 class="govuk-heading-l">How we’ll reimburse you</h2>
    <p>The applicant will get their reimbursement through the same payment method they used to pay the IHS.</p>
    <p>Making a claim takes around 30 minutes.</p>

    <a href="/v6/ihs-question" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

  </div>
</div>

{% endblock %}
