{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
  <style>
      .govuk-banner--success {
          border-color: #00703c;
          color: #00703c;
      }
      .govuk-banner {
          border: 5px solid #1d70b8;
          font-size: 0;
          margin-bottom: 30px;
          padding: 10px;
      }
      .govuk-banner__message {
      font-family: "GDS Transport", Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25;
      color: #0b0c0c;
      display: block;
      overflow: hidden;
      display: inline-block;
      margin-left: 10px;
      }
      .govuk-banner__assistive {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
      clip: rect(0 0 0 0) !important;
      clip-path: inset(50%) !important;
      border: 0 !important;
      white-space: nowrap !important;
      }

  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-banner govuk-banner--success">

          <svg class="govuk-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25" style="display: inline-block">
          <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>
          
          <div class="govuk-banner__message">
          <span class="govuk-banner__assistive">Success</span>File named payslip-june.jpg has been deleted</div>
          
      </div>

      <form class="form" action="/v7/attachments-add" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
            <!--<h1 class="govuk-heading-l">Upload evidence</h1>-->
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Application</span>
                Upload evidence
            </h1>
          </label>
          
          <span id="file-upload-1-hint" class="govuk-hint">
              <p>Evidence should be payslips, from all of the applicant's health and social care employers, for each month of the 6-month period the claim is being made for. We need these payslip so we can match the applicant with the eligibility criteria.</p>
              <p>Evidence should be a scanned copy or photo of the original documents.</p>
              <p>Attach evidence for the period between 31 March 2020 and 1 October 2020.</p>
              <p>Uploaded attachments must be:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>jpg, jpeg, bmp, png or pdf</li>
                <li>no larger than 2MB in size</li>
              </ul>
            </span>
          
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
          </div>
          
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
