{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Contact us
      </h1>

      <p>The health, safety and wellbeing of our staff is important to us, so it may be necessary to run our services with less staff than usual. This might mean we take longer to answer our phones or respond to your emails.</p>

      <p>To make an enquiry about your application for a reimbursement of an Immigration Health Surcharge (IHS), you can contact us by:</p>

      <h3 class="govuk-heading-s">Telephone</h3>

      <p class="govuk-body">If you have a unique reference number, have it with you when you call.</p>

      <ul class="govuk-list">
        <li>Telephone: 0300 330 7693</li>
        <li>From outside the UK: +44 191 283 8937</li>
        <!--<li class="govuk-!-margin-top-5">Welsh language: 020 7946 0103</li>-->
        <li>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">Find out about call charges</a>
      </p>

      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li><a id="link-alternative" href="mailto:nhsbsa.faregistrationsOHS@nhs.net" target="_blank">nhsbsa.faregistrationsOHS@nhs.net</a></li>
        <li>We aim to respond within 10 working days</li>
      </ul>

      <h3 class="govuk-heading-s">Address</h3>

      <p class="govuk-body">
        NHS Business Services Authority<br>
        Overseas Healthcare Services - IHS<br>
        152 Pilgrim Street<br>
        Newcastle upon Tyne<br>
        NE1 6SN
      </p>

      <p>Find out <a href="https://www.nhsbsa.nhs.uk/privacy/telephone-recording-privacy-notice">how we use your information</a> when you call us.</p>
      <p>We're piloting using new technologies to improve our telephone service. Find out <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy/ai-telephone-calls-privacy-notice">how these new technologies use your information</a>.</p>
    </div>
  </div>

{% endblock %}
