{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Terms and conditions
      </h1>

      <p>1. The payment towards the cost of healthcare is called the Immigration Health Surcharge (IHS).</p>
      <p>2. Content from this website is covered by copyright. Visitors can download material in accordance with the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" class="govuk-link">Open Government Licence</a>. Should you wish to re-use the information you must include the following statement:</p> 
      <p>"NHSBSA Apply for your immigration health surcharge reimbursement as a student, NHSBSA Copyright 2022" This information is licenced under the terms of the Open Government Licence.</p>
      <p>3. All rights, including copyright, in the content of these NHSBSA web pages are controlled for these purposes by the NHSBSA. In accessing the NHSBSA's web pages, hosted on the Gov.uk website, you agree that you may only download the content as detailed in the Open Government Licence.</p>
      <p>4. The methods of searching and presentation of information, certain information content, graphics, layout, design and other features of the NHSBSA website are protected by intellectual property rights belonging to us.</p>
      <p>5. We endeavour to ensure the accuracy of all of the information supplied on the website. However, we do not accept any liability for the use made by you of the information, neither do we warrant that the supply of the information will be uninterrupted.</p>
      <p>6. This website contains links to various websites that are operated by third parties over whom we have no control. We therefore do not make any representation - and do not accept any liability - in respect of the content, products or services available from such websites, or the business of such third parties. Any dealings with third parties accessed using the NHSBSA website shall be entirely at your own risk.</p>
      <p>If you have any questions about using this website, or if you wish to report any violations of intellectual property rights or if you are seeking permission under these terms and conditions, email <a id="link-alternative" href="mailto:digitalandonline@nhsbsa.nhs.uk" target="_blank">digitalandonline@nhsbsa.nhs.uk</a>.</p>
      
    </div>
  </div>

{% endblock %}
