{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Terms and conditions
      </h1>

      <p>The payment towards the cost of healthcare is called the Immigration Health Surcharge (IHS).</p>

      <p>If you need to make this payment, you will be taken to the WorldPay website. WorldPay will process your payment according to the <a href="https://www.fisglobal.com/merchant-solutions-worldpay/gs?q=/merchant-solutions-worldpay">WorldPay terms and conditions</a>.</p>
      <p>TBC</p>
    </div>
  </div>

{% endblock %}
