{% extends "layout-health.html" %}

{% block pageTitle %}
Check your extra information
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="/contracts-add-3-v20-ideation" method="post">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Application</span>
Check your extra information for July 2020   </h1>


      <!-- <h2 class="govuk-heading-m">Payslips uploaded</h2>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  File 1
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="/public/images/april-2020.png" target="_blank" >april-2020.png</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  File 2
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="/public/images/april-2020.png" target="_blank" >May-2020.jpg</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  File 3
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="/public/images/april-2020.png" target="_blank" >June-2020.jpg</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  File 4
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="/public/images/april-2020.png" target="_blank" >July-2020.jpg</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  File 5
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="/public/images/april-2020.png" target="_blank" >August-2020.jpg</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  File 6
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="/public/images/april-2020.png" target="_blank" >September-2020.jpg</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  File 7
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="/public/images/april-2020.png" target="_blank" >October-2020.jpg</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
            </dl> -->

      


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Extra information
          </dt>
          <dd class="govuk-summary-list__value">
            I was off sick in July 2020.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="extra-information">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Evidence</h2>

       <p>
                Select 'preview' to check the files you've uploaded (previewed files will open in a new tab) or select 'delete' to remove files from this application.
              </p>

      <dl class="govuk-summary-list">



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File 1
          </dt>
          <dd class="govuk-summary-list__value">
            employer-letter.pdf
          </dd>

          <dd class="govuk-summary-list__actions">

            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/public/images/employer-letter.pdf" style="font-size: 16px;" target="_blank">Preview<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="extra-information-delete"  style="font-size: 16px;">Delete<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
            </ul>

          </dd>

        </div>




      </dl>


  </div>
</div>

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="attachments-add-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

Do you want to add any other extra information for July 2020?

    </legend>
    <!-- <span id="attachments-add-conditional-hint" class="govuk-hint">
            hint text goes here.
            </span>-->

    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios govuk-radios--conditional" data-module="radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="attachments-add-3-conditional" name="contracts-add-3-v20" type="radio"
            value="yes" data-aria-controls="conditional-attachments-add-3-conditional">
          <label class="govuk-label govuk-radios__label" for="attachments-add-3-conditional">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="attachments-add-3-conditional-2" name="contracts-add-3-v20"
            type="radio" value="no" data-aria-controls="conditional-attachments-add-3-conditional-2">
          <label class="govuk-label govuk-radios__label" for="attachments-add-3-conditional-2">
            No
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<a href="extra-info-task-list-3" class="govuk-button" data-module="govuk-button">Continue</a>
</form>
</div>
</div>

{% endblock %}