{% extends "layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
<div id="content">

  <!-- <div class="float--right">
      <nav aria-label="language-switcher.nav" class="language-switcher">
        <ul>
          <li>

         <span>English</span>
         <span aria-hidden="true"> | </span>
         <a id="switch-language" href="/help/switch-to-welsh" data-journey-click="Language:Click:Welsh">
           <span class="visuallyhidden">Newid yr iaith i'r Gymraeg</span>
           <span aria-hidden="true">Cymraeg</span>
         </a>

          </li>
        </ul>
      </nav>
    </div>-->

    

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/last-week-check" method="post">
      <div class="govuk-form-group">
        <span class="govuk-caption-l">Application</span>
        <fieldset class="govuk-fieldset" aria-describedby="doug-ihs-question-conditional-hint-v8">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
            <h1 class="govuk-fieldset__heading">What is the period end date for payslip October-2020.jpg?</h1>
        </legend>

        <!-- <div id="immigration-health-surcharge-paid-hint" class="govuk-hint">This is to ensure there are no gaps or overlaps with the payslips provided</div> -->
        <div class="govuk-form-group">


          <!-- <h2 class="govuk-heading-m">Files uploaded</h2> -->

          <p>The latest payslip uploaded must cover the claim end date of 19 April 2020.</p>

            
            <dl class="govuk-summary-list">

              
            
              <div class="govuk-summary-list__row">
                
                <dt class="govuk-summary-list__key">
                  Last monthly payslip
                </dt>
                <dd class="govuk-summary-list__value">
                  <!-- <a download href="/">contract.pdf</a> -->
                  <a href="/public/images/dummyslip.jpg" target="_blank" >View October-week4-2020.jpg</a>
                </dd>
            
                
            
              </div>
              
             

                   

            </dl>




          <!-- <img src="/public/images/dummyslip.jpg" style="height: 300px;" alt="Three illustrations of taking a passport photo. Two incorrect ways show someone taking their own photo with a phone camera or webcam. The correct way shows someone else helping to take a photo that includes the person's head and shoulders."> -->
       
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              
              <h2 class="govuk-heading-m">Period end date</h2>
              <div id="passport-issued-hint" class="govuk-hint">
                This is <strong>not</strong> the pay date. The period end date is the last day the payslip covers.
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
              
            </fieldset>
       

            
            <!-- <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-heading-m">
                 What is the end date of this payslip
                </h2>
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2007
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset> -->
          </div>
          
          
          
          
        </div>
        </fieldset>

  
          
      </div>

        

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}