{% extends "layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkbox Content Toggle</title>
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/pay-checkbox-october-no-start" method="post">
        <div class="govuk-form-group">
          <span class="govuk-caption-l">Application</span>
          

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
            <h1 class="govuk-fieldset__heading">Upload the applicant's payslip for October 2020</h1>
        </legend>


        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
          
            <p>This payslip must have been paid on or after <strong>09 October 2020</strong>.</p>
            <p>This to cover the full 6 month period after your employment start date: <strong>10 April 2020</strong>.</p>
            </p>
          </div>
        </div>


          <p>We'll need a scanned copy or photo of the original documents, these must include the applicant's:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>employee name</li>
            <li>employer name</li>
            <li>National Insurance number</li>
            <li>pay date or period covered</li>
            <li>employment start date</li>
            <li>contracted hours</li>
          </ul>

          <p>Uploaded evidence must be:</p>
          <ul class="govuk-list govuk-list--bullet ">
            <li>clear and readable</li>
            <li>descriptive, with the file name containing the period that the evidence covers such as
              'payslip-090123-150123.pdf'</li>
            <li>JPG, JPEG, BMP, PNG or PDF</li>
            <li>smaller than 2MB in size for single files</li>
          </ul>
          <!-- Div to be hidden -->
          <div id="content-to-hide">
            <label class="govuk-label govuk-label--m" for="documents">
              Upload files
            </label>
            <!--<div class="govuk-grid-column-two-thirds">-->
            <div class="moj-multi-file-upload">


              <div class="govuk-form-group">


                <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents"
                  type="file" multiple="">
              </div>

              <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button"
                data-module="govuk-button">
                Upload file
              </button>
            </div>
          </div>

          <!-- Div to be revealed -->
          <div id="content-to-show" class="hidden">
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                If you do not have a payslip for this month, you will be required to provide extra information to
                explain the gap.
              </strong>
            </div>
          </div>

          <!-- Checkbox -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="toggle-checkbox" name="waste" type="checkbox"
              onClick="toggleContent()" value="checked" >
            <label class="govuk-label govuk-checkboxes__label" for="toggle-checkbox">I do not have a payslip for this
              month</label>
          </div>
        </div>

        <script>
          function toggleContent() {
            var checkbox = document.getElementById('toggle-checkbox');
            var contentToHide = document.getElementById('content-to-hide');
            var contentToShow = document.getElementById('content-to-show');

            if (checkbox.checked) {
              contentToHide.classList.add('hidden');
              contentToShow.classList.remove('hidden');
            } else {
              contentToHide.classList.remove('hidden');
              contentToShow.classList.add('hidden');
            }
          }

          // Initialize the state on page load based on the checkbox state
          document.addEventListener('DOMContentLoaded', function () {
            toggleContent();
          });
        </script>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>

  </div>

</body>

</html>

{% endblock %}