{% extends "layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
<div id="content">

  <!-- <div class="float--right">
      <nav aria-label="language-switcher.nav" class="language-switcher">
        <ul>
          <li>

         <span>English</span>
         <span aria-hidden="true"> | </span>
         <a id="switch-language" href="/help/switch-to-welsh" data-journey-click="Language:Click:Welsh">
           <span class="visuallyhidden">Newid yr iaith i'r Gymraeg</span>
           <span aria-hidden="true">Cymraeg</span>
         </a>

          </li>
        </ul>
      </nav>
    </div>-->

    

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/pay-v20-task-end" method="post">
      <div class="govuk-form-group">
        <span class="govuk-caption-l">Application</span>
        <fieldset class="govuk-fieldset" aria-describedby="doug-ihs-question-conditional-hint-v8">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
            <h1 class="govuk-fieldset__heading">What type of payslip did you upload for October 2020?</h1>
        </legend>

        <div  class="govuk-hint">
          If you uploaded more than one type of payslip, select 'other'.
        </div>

        <div id="immigration-health-surcharge-paid-hint" class="govuk-hint"></div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="monthly">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Monthly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="weekly">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Weekly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="other">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                 Other
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        </fieldset>
      </div>

        

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}