{% extends "layout-health.html" %}

{% block pageTitle %}
Upload evidence
{% endblock %}


{% block beforeContent %}



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="/v20/extra-information" method="post">

      

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--l" for="file-upload-1">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">Application</span>
            Add extra information to support your application
          </h1>
        </label>

        <!-- start callout box -->
        
        <!-- end callout box -->




        <!-- <h2 class="govuk-heading-m">Payslips</h2>

        <p>Payslips must include the applicant's:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>name</li>
          <li>employer's name</li>
          <li> National Insurance number</li>
          <li>pay date or period covered by the payslip</li>
        </ul>

        <h2 class="govuk-heading-m">Files</h2>

        <p>You must send scanned copies or photos of the applicant's original documents.</p>

        <p>Files must:</p>


        <ul class="govuk-list govuk-list--bullet">
          <li>be clear and readable</li>
          <li>be in JPG, JPEG, BMP, PNG or PDF format</li>
          <li> be smaller than 2MB each</li>
         
        </ul> -->


        
      

        
     



        





        


      <p>You told us you do not have evidence for some months in this claim. </p>
      <p>Select each month you marked as a gap in evidence and upload extra information to explain the gap.</p>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="" aria-describedby="application-details-1-status">
              April 2020
            </a>
          </div>
          <div class="govuk-task-list__status" id="application-details-2-status">
            <strong class="govuk-tag govuk-tag--green">
             Completed
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="" aria-describedby="application-details-1-status">
              July 2020 
            </a>
          </div>
          <div class="govuk-task-list__status" id="application-details-2-status">
            <strong class="govuk-tag govuk-tag--green">
             Completed
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="october-gaps-2" aria-describedby="application-details-1-status">
              October 2020 
            </a>
          </div>
          <div class="govuk-task-list__status" id="application-details-2-status">
             <strong class="govuk-tag govuk-tag--green">
             Completed
            </strong>
          </div>
        </li>
        
      </ul>
      <br><br>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do you have any more extra information for this claim?
      </h1>
    </legend>
    
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
<br>



      <!--/////////// MOJ Style for multiple file uploader END ///////////////-->
      <a href="" class="govuk-button" data-module="govuk-button">Continue</a>

    </form>

  </div>
</div>


<style>


</style>


{% endblock %}