{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
  16 hours
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v18/6-months">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
      <form class="form" action="/average-time-v18" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="average-time-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
             <!-- <h1 class="govuk-fieldset__heading">
                  When working in the health and social care job, was the applicant working an average of 16 hours or more per week?
              </h1>-->
              <h1 class="govuk-fieldset__heading">
                  <span class="govuk-caption-l">Eligibility check</span>
                  When working in the health and social care job, was the applicant working an average of 16 hours or more per week?
              </h1>
            </legend>            
            <span id="average-time-conditional-hint" class="govuk-hint">
                This information can be found on the applicant's payslip or work contract.
            </span>
          </br>
        </br>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="average-time-conditional" name="average-time-v18" type="radio" value="yes" data-aria-controls="conditional-average-time-conditional">
                  <label class="govuk-label govuk-radios__label" for="average-time-conditional">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="average-time-conditional-2" name="average-time-v18" type="radio" value="no" data-aria-controls="conditional-average-time-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="average-time-conditional-2">
                    No
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
