{% extends "layout-health.html" %}

{% block pageTitle %}
  Job setting
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v18/job-title-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--via https://github.com/UKHomeOffice/design-system/issues/84-->
      <form class="form" action="/v18/non-nhs-path-add2" method="post">
          
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
                    <h1 class="govuk-fieldset__heading">
                        <span class="govuk-caption-l">Application</span>
                        What's the applicant's job setting?
                    </h1>
                  </legend>
                  <div id="how-contacted-conditional-hint" class="govuk-hint">
                    We need this information so that we can make sure your job is suitable.<br>
                    Select one option.
                  </div>
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-hospital" name="how-contacted" type="radio" value="hospital" data-aria-controls="conditional-how-contacted-conditional-1">
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-hospital">
                            Hospital
                        </label>
                      </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-contacted-conditional-gp" name="how-contacted" type="radio" value="GP-Practice" data-aria-controls="conditional-how-contacted-conditional-0">
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-gp">
                        GP practice
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-contacted-conditional-ch" name="how-contacted" type="radio" value="Care-Home" data-aria-controls="conditional-how-contacted-conditional-1">
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-ch">
                        Care home
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-contacted-conditional-chs" name="how-contacted" type="radio" value="Community-Healthcare-Setting" data-aria-controls="conditional-how-contacted-conditional-2">
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-chs">
                        Community healthcare setting
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                        Other
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-text">
                          Other job setting
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="contact-by-text" name="contact-by-text" type="tel">

                      </div>
              
                    </div>
                  </div>
                </fieldset>
              </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>



{% endblock %}
