{% extends "layout-health.html" %}

{% block pageTitle %}
  IHS number
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v18/nino">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-fieldset__heading">What's your immigration health surcharge number?</h1>
      <h1 class="govuk-fieldset__heading">What's the applicant's immigration health surcharge number?</h1>-->
     
      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Application</span>
          How often is the applicant paid?
      </h1>

      <form class="form" action="/v18/email-address" method="post">

        <div class="govuk-form-group">
          
          <div id="contact-hint" class="govuk-hint">
            Select one option.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Weekly
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Weekly salary
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                Monthly
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Monthly salary
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-radios__label" for="contact-3">
                Yearly
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Total yearly salary
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
              </div>
            </div>
          </div>
        
       <br>
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
