{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>You've successfuly submitted a claim for an immigration health surcharge reimbursement.</p>
      <!--<p>The applicant's claim period is: XXXX to XXXX</p> -->

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll assess the claim within the next 6 weeks. If we need any further information, we'll get in touch using the contact details provided in the application. </p>
      <p>A confirmation email will be sent which will contain a link allowing the applicant to sign up to the reminder service. This service will remind the applicant that may need to reapply after 6 months.</p>
      <!--<p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>-->

    </div>
  </div>

{% endblock %}
