{% extends "layout.html" %}

{% block pageTitle %}
  Upoad of Payslips
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v14/upload-of-evidence">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/v14/attachments-add" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
              <!--<h1 class="govuk-heading-l">Upload evidence</h1>-->
              <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">Application</span>
                  Upload evidence
              </h1>
          </label>
          
          <span id="file-upload-1-hint" class="govuk-hint">
              <p>Evidence should be payslips, from all the applicant's health and social care employers, for every day of the 6-month period the claim is being made for. More than 6 months' worth of payslips may be necessary to cover this period.</p>
              <p>The evidence uploaded must show the number of hours the applicant has worked. If the evidence doesn’t show this, the applicant must send additional evidence, such as a cover letter from their employer. </p>
              <p>Evidence should be a scanned copy or photo of the original documents. More payslips or additional evidence can be uploaded at the next stage.</p>
              <p>Attach evidence for the period: <strong>30 April 2020</strong> to <strong>29 October 2020</strong></p>
              <p>Uploaded attachments must be:</p>
              <ul class=“govuk-list govuk-list--bullet”>
                <li>clear and readable</li>
                <li>jpg, jpeg, bmp, png or pdf</li>
                <li>no larger than 2MB in size</li>
              </ul>
          </span>

      
              <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
            </div>
      
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
      

          
          
          </div> 
      </form>
    </div>
  </div>

{% endblock %}
