{% extends "layout.html" %}

{% block pageTitle %}
  Upload contract
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v14/upload-of-evidence">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/v14/contract-add" method="post">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#passport-issued-error"></a>Contract.doc must be a jpg, jpeg, bmp, png or pdf</a>
                <br>
                <a href="#passport-issued-error"></a>Employment-letter.pdf must be no larger than 2MB in size</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
              <!--<h1 class="govuk-heading-l">Upload evidence</h1>-->
              <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">Application</span>
                  Upload contract of employment
              </h1>
          </label>
          
          <span id="file-upload-1-hint" class="govuk-hint">
              <p>The applicant must provide their contract of employment.</p>
              <p>You’ll have the option to add other contracts of employment if you’ve had more than one.</p>
              <p>Contract of employment can be uploaded as a scanned copy or digital photograph.</p>



        <div class="govuk-inset-text" style="overflow:hidden;" id="validEmail">
            <span class="govuk-hint govuk-!-margin-bottom-0">
                Attach contracts of employement for the period between 31 March 2020 to 30 September 2020. &nbsp;<span class="govuk-body email-feedback" id="email-show" style="font-weight:800"></span>
            </span>
        </div>


      <details class="govuk-details" data-module="govuk-details">
  
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Things to remember when uploading a contract of employment
              </span>
            </summary>

          
                <ul class="govuk-list govuk-list--bullet">
                <li>your uploaded contract must be: jpg, jpeg, bmp, png or pdf and no larger than 2MB in size</li>
                <li>you upload the all the contracts of employment to cover the claim period</li>
                <!--
                <li>the upload filenames do not include brackets, full stops or numbers</li>
                -->
              </ul>
      
      </details>
      <!--
          <br>
              <p>Uploaded attachments must be:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Uploaded attachments must be: jpg, jpeg, bmp, png or pdf and no larger than 2MB in size</li>
                <li>no larger than 2MB in size</li>
                <li>you upload the correct amount of payslips to cover the claim period</li>
                <li>you upload payslips that correspond to the claim period entered</li>
                <li>there’s no duplicate payslips</li>
                <li>the payslips are not password protected</li>
                <li>the upload filenames do not include brackets, full stops or numbers</li>
              </ul>
            </span>
      -->    
          <!--<input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">-->
          </div>
                          <!--/////////// MOJ Style for multiple file uploader START ///////////////-->
      <style>
        .moj-multi-file-upload__dropzone {
            outline: 3px dashed #0b0c0c;
            display: flex;
            text-align: center;
            padding: 60px 15px;
            transition: outline-offset .1s ease-in-out, background-color .1s linear;
        }
        .moj-multi-file-upload {
          margin-bottom: 40px;
        }
        .moj-multi-file-upload__dropzone {
            outline: 3px dashed #0b0c0c;
            display: flex;
            text-align: center;
            padding: 60px 15px;
            transition: outline-offset .1s ease-in-out, background-color .1s linear;
        }
        .moj-multi-file-upload__dropzone [type=file] {
          position: absolute;
          left: -9999em;
        }
        .moj-multi-file-upload--enhanced .moj-multi-file-upload__button {
            display: none;
        }
      
      
        .moj-multi-file-upload__dropzone p {
            margin-bottom: 0;
            margin-right: 10px;
            padding-top: 7px;
        }
      
        .moj-multi-file-upload__dropzone label {
          margin-bottom: 0;
          display: inline-block;
          width: auto;
      }
        </style>  
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <!--<h1 class="govuk-heading-xl">Upload files</h1>-->
      
          <form action="/components/multi-file-upload/examples/default" method="post" enctype="multipart/form-data">
      
            <div class="moj-multi-file-upload">
              <div class="moj-multi-file__uploaded-files ">
                <!--<h2 class="govuk-heading-m">Files added</h2>-->
                <div class="govuk-summary-list moj-multi-file-upload__list">
                </div>
              </div>
      
              <div class="moj-multi-file-upload__upload">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="documents">
                    Upload file(s)
                  </label>
                   
                  <div class="moj-multi-file-upload__dropzone"><input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="" spellcheck="false"><p class="govuk-body">Drag and drop files here or</p><label for="documents" class="govuk-button govuk-button--secondary">Choose files</label><div aria-live="polite" role="status" class="govuk-visually-hidden"></div></div>
                </div>
                
                <!--<button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                  Upload file
                </button>-->
                                        
              </div>
            </div>

            <!--/////////// MOJ Style for multiple file uploader END ///////////////-->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
