{% extends "nice-to-have/layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
          Apply for your immigration health surcharge reimbursement 
      </h1>

      
      <h2 class="govuk-heading-l">When to apply</h2>
      <p>To qualify for using this service, you must be working or have previously worked in a health and social care sector job:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>for 6 months or more</li>
        <li>for an average of 16 hours per week</li>
        <li>on or after 31 March 2020</li>
      </ul>

      <p>To use this service, the qualified person must apply.</p>
    <p>You’ll need:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>to give us your full name as it appears on your passport</li>
    <li>your immigration health surcharge number</li>
    <li>payslips for the last 6 months, these can be attached as copies</li>
    <li>your biometric card, both sides can be attached as copies</li></ul>

<p>Dependants of the qualified person will also qualify for using this service. Make sure you also have their names and immigration health surcharge numbers.</p>

      <p>Registering takes around [5] minutes.</p>

      <a href="/nice-to-have/ihs-question" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>
  </div>
{% endblock %}
