{% extends "layout-health.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility statement for Apply for your immigration health surcharge reimbursement</h1>
  
      <p class="govuk-body">This accessibility statement applies to Apply for your immigration health surcharge reimbursement.</p>
      <p class="govuk-body">This website is run by the NHS Business Services Authority. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          change colours, contrast levels and fonts
        </li>
        <li>
          zoom in up to 400% without the text spilling off the screen
        </li>
        <li>
          navigate most of the website using just a keyboard
        </li>
        <li>
          navigate most of the website using speech recognition software (including the most recent version of Dragon)
        </li>
    </ul>
      <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>
      <p class="govuk-body"><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet has advice on making your device easier to use</a> if you have a disability.</p>
  
      <h2 class="govuk-heading-l">How accessible this website is</h2>
      <p class="govuk-body">We know some parts of this website are not fully accessible, as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          users may find it difficult to add employments when styles are disabled as there is overlapping content on the page
        </li>
        <li>
          Mac Voice Control users will have difficulties when accessing header and email links
        </li>
        <li>
          on mouse hover, screen fields and controls are not announced to screen reader users
        </li>
        <li>
          cookie banner content is not read completely, and some page content is read twice to screen reader users using NVDA
        </li>
        <li>
          users may find it difficult to identify the field with the error on the date of birth screen, as all the fields are highlighted, not just the field with the error
        </li>
        <li>
          users will face difficulties on the date of birth screen when using special characters as part of their input
        </li>
        <li>
          status messages are not consistently announced to screen reader users using VoiceOver
        </li>
        <li>
          when multiple files are uploaded, VoiceOver does not announce the full name of each file uploaded, but switches to the most recently uploaded file
        </li>
        <li>
          Mac Voice Control users will not be able to open links with hidden text unless they use the exact wording of the display text and the hidden text
        </li>
    </ul>
  
      <h2 class="govuk-heading-l">How to request content in an accessible format</h2>
      <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, you can contact us by:</p>
   
        <p>Email: <a class="govuk-link" id="feedback-link-alternative" href="mailto:accessibility@nhsbsa.nhs.uk" target="_blank">accessibility@nhsbsa.nhs.uk</a></p>
        
      
      <p class="govuk-body">We'll consider your request and get back to you in 5 working days.</p>
      <p class="govuk-body">This inbox is only for accessibility queries. This inbox is not for technical queries or IT problems. If you have a query that is not about accessibility, go to the 'Contact us' section of this page.</p>
  
      <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
      <p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any problems that are not listed on this page or think we're not meeting accessibility requirements, you can contact us by:</p>
    
        <p>Email: <a class="govuk-link" id="reporting-link-alternative" href="mailto:accessibility@nhsbsa.nhs.uk" target="_blank">accessibility@nhsbsa.nhs.uk</a></p>
     
    
    
      <p class="govuk-body">This inbox is only for accessibility queries. This inbox is not for technical queries or IT problems. If you have a query that is not about accessibility, go to the 'Contact us' section of this page.

      </p>
      
  
      <h2 class="govuk-heading-l">Enforcement procedure</h2>
      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').</p>
      <p class="govuk-body">If you are not happy with how we respond to your complaint,&nbsp;<a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
  
      <h2 class="govuk-heading-l">Contact us</h2>
      <p class="govuk-body">For all queries not accessibility related, you can contact us by:</p>
      
        <p>Email: <a class="govuk-link" id="contact-link-alternative" href="mailto:ihsreimbursements@nhsbsa.nhs.uk" target="_blank"> IHSreimbursements@nhsbsa.nhs.uk</a></li>
   
  
      <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
      <p class="govuk-body">The NHS Business Services Authority is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
  
      <h3 class="govuk-heading-m">Compliance status</h3>
      <p class="govuk-body">This website is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" rel="external">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances and exemptions listed below.</p>
    
      <h2 class="govuk-heading-l">Non-accessible content</h2>
      <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
  
      <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
      <p class="govuk-body">Users may find it difficult to add employments when styles are disabled as there is overlapping content on the page. This fails WCAG 2.1 success criterion 4.1.2 (Name, role, value).</p>
      <p class="govuk-body">Mac Voice Control users will have difficulties when accessing header and email links. This fails WCAG 2.1 success criterion 4.1.2 (Name, role, value).      </p>
      <p class="govuk-body">On mouse hover, screen fields and controls are not announced to screen reader users. This fails WCAG 2.1 success criterion 4.1.2 (Name, role, value).

      </p>
      <p class="govuk-body">Cookie banner content is not read completely, and some page content is read twice to screen reader users using NVDA. This fails WCAG 2.1 success criterion 4.1.2 (Name, role, value).</p>
      <p class="govuk-body">Users may find it difficult to identify the field with the error on the date of birth screen, as all the fields are highlighted, not just the field with errors. This fails WCAG 2.1 success criterion 3.3.1 (Error identification).

      </p>
      <p class="govuk-body">Users will face difficulties on the date of birth screen when using special characters as part of their input. This fails WCAG 2.1 success criterion 3.3.1 (Error identification).

      </p>
      <p>Status messages are not consistently announced to screen reader users using VoiceOver. This fails WCAG 2.1 success criterion 4.1.2 (Name, role, value).

      </p>
      <p>When multiple files are uploaded, VoiceOver does not announce the full name of each file uploaded but switches to the most recently uploaded file. This fails WCAG 2.1 success criterion 4.1.2 (Name, role, value).

      </p>
      <p>Mac Voice Control users will not be able to open links with hidden text unless they use the exact wording of the display text and the hidden text. This fails WCAG 2.1 criterion 4 (Compatible).

      </p>
      <p>We plan to fix these accessibility issues. When we publish new content, we'll make sure it meets accessibility standards.

      </p>
  
      <h2 class="govuk-heading-l">Content that's not within the scope of the accessibility regulations</h2>
      <h3 class="govuk-heading-m">External links</h3>
      <p class="govuk-body">Some links from the website will direct users to external websites where accessibility issues have been identified. This may cause difficulties for users with accessibility needs or those that use assistive technologies.</p>

      <p class="govuk-body">We'll review the usage of these links before our next accessibility review and contact these third parties to identify the issues we have found.</p>
      <h3 class="govuk-heading-m">Document upload</h3>
      <p class="govuk-body">Due to an issue with Dragon and some older versions of this assistive technology, users will have difficulties interacting with the document upload buttons. We advise Dragon users to use the mouse grid feature to interact with the file upload functionality.</p>
  
      <h2 class="govuk-heading-l">What we're doing to improve accessibility</h2>
      <p class="govuk-body">We're committed to making sure this website is compliant to WCAG 2.1 'AA' standard.</p>
      <p class="govuk-body">Our accessibility compliance statement will be reviewed regularly. Every new released website will be designed, built, and tested to meet 'AA' standards by default.</p>
    
      <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
      <p class="govuk-body">This statement was prepared on 12 October 2022. It was last reviewed on 19 February 2024.</p>
      <p class="govuk-body">This website was last tested on 19 February 2024. The test was carried out by the NHSBSA test and development teams.</p>
      <p class="govuk-body">We tested all the website screens to meet 'AA' WCAG 2.1 standards, using manual and automated tests.</p>
      <p class="govuk-body">We run each webpage through automated Wave, Lighthouse and Axe accessibility tools then manually test with screen readers (NVDA or VoiceOver) and standards checklists.</p>
      <p class="govuk-body">We run representative user journey tests through speech recognition software (Dragon or Voice Control).</p>
      <p>These checklists contain standards that have been compiled using WCAG, the NHS service manual and the Government Digital Service (GDS) guidance.</p>
    </div>
  </div>

{% endblock %}
