{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Privacy notice
      </h1>

      <p class="govuk-body">This scheme fulfils the Prime Minister's 21 May 2020 announcement to deliver a system for health and care staff to be exempt from the Immigration Health Surcharge, with eligible cases being backdated to 31 March 2020.</p>
      <p class="govuk-body">As a result of this announcement, arrangements have been put in place to ensure any non-EEA nationals applying for a Health and Care Visa to work in a health or social care setting, in an eligible occupation, will be exempt from paying the IHS.</p>
      <p class="govuk-body">The NHS Business Services Authority is responsible for administering the Immigration Health Surcharge Reimbursement Scheme, through which eligible applicants can receive reimbursement for the Immigration Health Surcharge paid during their visa application process.</p>
      <p class="govuk-body">The Department of Health and Social Care, NHS Business Services Authority and the Home Office are joint data controllers responsible for this service.</p>
      <p class="govuk-body">The information in this privacy notice shows how and why the organisations responsible for the scheme will handle the personal data you provide in your application to the scheme.</p>

      <h2 class="govuk-heading-l">Why we process your information</h2>
      <p class="govuk-body">We will use the information you give in your Immigration Health Surcharge Reimbursement application to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>process and manage your Immigration Health Surcharge reimbursement application </li>
        <li>authorise  UK Visas and Immigration team (UKVI) part of the Home Office to make a reimbursement payment to you if eligible</li>
        <li>consider any Internal or External Review of a refusal to make a reimbursement to you under the Scheme</li>
        <li>help plan and make improvements to NHS services</li>
        <li>analyse the uptake of the Immigration Health Surcharge reimbursement </li>
        <li>analyse with other user information to understand patterns and trends that will be used to plan and make improvements to NHS Services</li>
      </ul>
      <p class="govuk-body">Your information will not be transferred outside the UK or <a href="https://www.gov.uk/eu-eea">European Economic Area</a>.</p>

      <h2 class="govuk-heading-l">How we gather and use your personal data</h2>
      <p class="govuk-body"><a href="https://www.nhsbsa.nhs.uk/our-policies/privacy/lawful-basis-processing#jumplink11">By law</a>, we must process this information to be able to provide this service.</p>
      <p class="govuk-body">We will ask you for: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information to identify you (e.g. name, address, date of birth and National Insurance number)</li>
        <li>your Immigration Health Surcharge reference number</li>
        <li>details of your qualifying employer in the health or social care sectors</li>
        <li>details of your role or job description for the qualifying employer</li>
        <li>evidence of your qualifying employment period (pay statements)</li>
        <li>details to help us facilitate your payment</li>
      </ul>
      <p class="govuk-body">We are only allowed to use, gather and share personal information where we have an appropriate legal basis to do so under Data Protection law. The Home Office and the Department of Health and Social Care collects and processes personal information to fulfil its legal and official functions.</p> 
      <p class="govuk-body">We will be processing information under the Article 6(1) (a) of the GDPR – the data subject has given us consent to the processing of his or her personal information. The legal basis for the processing of your data will, also fall under Article 6(1) (e) of the GDPR – that is, that the processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller.</p>

      <h2 class="govuk-heading-l">Sharing your personal information</h2>
      <p class="govuk-body">To make any reimbursement payments due to you under the Scheme, we will share your personal data with UKVI to make the payments.</p>
      <p class="govuk-body">To support more effective planning and improvements to NHS services, we may share our understanding of patterns and trends gained from applicants with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>NHS Commissioners and service providers</li>
        <li>Department of Health and Social Care</li>
        <li>NHS Counter Fraud Authority</li>
        <li>The Home Office (United Kingdom Visa and Immigration) </li>
      </ul>
      <p class="govuk-body">To prevent, detect and investigate fraud and errors, we may share your information with NHS service providers.</p>

      <h2 class="govuk-heading-l">Automated decision-making and profiling</h2>
      <p class="govuk-body">Article 22 of the GDPR provides the right not to be subject to a decision made solely on the basis of automated processing which produces legal or other significant effects. Parts of our processing may involve degrees of automation, but complex or adverse decisions will always be taken by a trained officer or caseworker.</p>
      <p class="govuk-body">We may use personal information, for example from previous applicants, to develop tools that allow us to assess and then process applications in a particular way. This helps us to target our resources and ensure our processing is efficient, allowing us to minimise costs while protecting the public effectively. However, a case officer would still decide these cases. Any profiling must comply with our wider obligations under equality legislation.</p>
     
      <h2 class="govuk-heading-l">Keeping your personal information</h2>
      <p class="govuk-body">We will keep your personal data on our systems and files for as long as you are eligible for the scheme. We will delete your data no later than 7 years from when you leave the scheme.</p>
  
      <h2 class="govuk-heading-l">Your rights</h2>
      <p class="govuk-body">The information you provided will be managed as required by Data Protection law.</p>
      <p class="govuk-body">You have the right to: </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>receive a copy of the information the NHSBSA and the Department of Health and Social Care hold about you</li>
          <li>request your information be changed if you believe it was not correct at the time you provided it</li>
          <li>request that your information be deleted if you believe we are keeping it for longer than necessary </li>
          <li>request a review of the automated decision on whether you are eligible for the Immigration Health Surcharge reimbursement</li>
        </ul>
      <p class="govuk-body">To request access to personal data we hold about you or to exercise any of these rights, please write to our Data Protection Officer using the contact details provided below.</p>
      <p class="govuk-body">Postal applications are not being processed because of coronavirus (COVID-19) until further notice.</p>
      <p class="govuk-body">Find out more about <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy">your rights and how we process information</a>.</p>
      
      <h2 class="govuk-heading-l">How do we use cookies?</h2>
      <p class="govuk-body">Find out more about <a href="https://www.nhsbsa.nhs.uk/our-policies/cookies">the cookies we use</a> when you use our online services.</p>

      <h2 class="govuk-heading-l">Address and contact details of our Data Protection Officer</h2>
      <p class="govuk-body">The Department of Health and Social Care (“the Department”) and NHS Business Services Authority (“NHSBSA”) are joint controllers for the scheme. The Department is also the data controller for its executive agencies (Public Health England and the Medicines and Healthcare Products Regulatory Agency)</p>
      <p class="govuk-body">The Data Protection Officer is John Ryder who can be contacted by:</p>
      <h3 class="govuk-heading-s">DHSC</h3>
              <div class="govuk-inset-text">
              Data protection officer </br>Data Protection, Security and Information management </br>Workplace and Transformation directorate </br>DHSC </br>39 Victoria Street </br>London </br>SW1H 0EU
              <br><br><p>email: <a href="mailto:data_protection@dhsc.gov.uk ">data_protection@dhsc.gov.uk</a></p>
              </div>

              <h3 class="govuk-heading-s">NHSBSA</h3>
              <div class="govuk-inset-text">
                Data protection officer </br>Information Governance </br>NHSBSA </br>Stella House </br>Newcastle Upon Tyne </br>NE15 8NY
                  <br><br><p>email: <a href="mailto:nhsbsa.dataprotection@nhs.net">nhsbsa.dataprotection@nhs.net</a></p>
                </div>

      <h2 class="govuk-heading-l">How to complain </h2>
      <p class="govuk-body">You also have the right to complain to the Information Commissioner's Office about the way we handle your information or respond to your requests for access to your personal information or the exercise of your other rights under the GDPR or the Data Protection Act 2018.</p>
      <p class="govuk-body">Postal applications are not being processed because of coronavirus (COVID-19) until further notice.</p>
      <p class="govuk-body">You can contact the Information Commissioner's Office by:</p> 
      <ul class="govuk-list govuk-list--bullet">
        <li>telephone: 0303 123 1113</li>
        <li>post: 
            <div class="govuk-inset-text">
                Wycliffe House, </br>Water Lane, </br>Wilmslow, </br>Cheshire </br>SK9 5AF
            </div>
        <li>website: <a href="https://www.ico.org.uk">www.ico.org.uk</a></li>
      </ul>

      
    </div>
  </div>

{% endblock %}
