{% extends "/layouts/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v2/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You do not need to get a reimbursement for your immigration health surcharge</h1>

      <form class="form" action="/url/of/next/page" method="post">

        <p class="govuk-body">Based on your answers, you do not need to get a reimbursement for your immigration health surcharge</p>

        <p class="govuk-body">You can still apply if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>eligibility 1</li>
          <li>eligibility 2</li>
          <li>eligibility 3</li>
        </ul>

        <p class="govuk-body">For queries contact NHSBSA either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">online</a> - [details]</li>
          <li><a href="#">by phone</a></li>
          <li>by post</li>
        </ul>
      </form>

    </div>
  </div>

{% endblock %}
