{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-heading-l">What are the applicant's employment details?</h1>-->
      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Application</span>
          What are the applicant's employer name?
      </h1>
      <div class="govuk-inset-text" style="background: pink">
        Add this manually as we couldn't find it in our innitial list of employers. [Allan]
      </div>
      <div id="changed-name-hint" class="govuk-hint">
        This is the name of the organisation your work for. You should include any employers that the applicant has had for the 6 month period of your claim.
      </div>

      <!--via https://github.com/UKHomeOffice/design-system/issues/84-->
      <form class="form" action="/v7/employer-not-found2" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
              Employer name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>



{% endblock %}
