{% extends "/layouts/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Application</span>
          What are the applicant's employment details?
      </h1>

      <form class="form" action="/another-job-v7" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Employer name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Employee number
          </label>
          <span id="telephone-number-hint" class="govuk-hint">
            You can find this number on your payslip or in ESR self-service.
          </span>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="another-job-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-l">
                Do you have another job within NHS?
              </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="another-job" name="another-job-v7" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="another-job">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="another-job-2" name="another-job-v7" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="another-job-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
