{% extends "layout-portal-signed-out.html" %}

{% block pageTitle %}
Portal Index

{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Log-in Portal Prototypes</h1>

     <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Prototype</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Description</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Link</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">New account</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">This prototype will show the journey for someone who has just created their account. </td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="new-account/start-page">Prototype link</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Existing account</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">This prototype will show the journey for someone who has already created their account and just need to sign in.</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="start-page">Prototype link</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Existing account - MVP</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">This prototype will be a stripped back version of the login portal which only allows users to view previous applications and complete their to do list tasks</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1-mvp/start-page">Prototype link</a></td>
    </tr>
  </tbody>
</table>

     
  </div>

</div>
{% endblock %}
