{% extends "layout-portal-signed-out.html" %}

{% block pageTitle %}
  Registration
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title"> Your account has been created </h1>
            <h2 class="govuk-card__heading govuk-u-font-weight-normal" style="text-align: center; color: white;">
              Account number:<br>
              <strong>IHS0000060</strong>
              </h2>
          </div>

        <p>We've sent an email to dave.smith@email.com with a link to activate your account.</p>

          <p>If you do not get the email within a few minutes, check your spam or junk mail folder.</p>

        <h2 class="govuk-heading-m">Activate your account</h2>
        <p>You need to use the link in the email to activate your account within 72 hours. If you do not do this, you'll need to create a new account.</p>
        <h2 class="govuk-heading-m">Help</h2>

        <p><a href="#">Contact us</a> if you need help activating or signing in to your account.</p>
        



        <p><a class="govuk-button" href="start">Sign in to your IHS reimbursement account</a></p>


    </div>

</div>
{% endblock %}