{% extends "layout-health.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="index">Back</a>
{% endblock %}

{% block content %}
<script>
    function printEmail() {
      $('#email').keyup(function(event) {
        newText = event.target.value;
        $('#email-show').text(newText);
      });
    } 
    window.onload=printEmail;
</script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-fieldset__heading">Either your IHS number or IHS claim reference, or both are invalid</h1>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            We have not been able to verify your IHS reimbursement claim
          </strong>
        </div>

      <h2 class="govuk-heading-m">What happens next?</h2>

      <form class="form" action="/reapply/ihs-number-130" method="post">

        <div class="govuk-form-group">
          
          <span id="email-hint" class="govuk-hint">
            Please return to the IHS reference number screen and type in the correct details
          </span>

        </div>
  
        <button class="govuk-button" data-module="govuk-button">Re-enter IHS details</button>

      </form>

    </div>
  </div>

{% endblock %}
