{% extends "layout-health.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    
  <h2 class="govuk-heading-m">Existing application details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           BSA reference number
          </dt>
          <dd class="govuk-summary-list__value">
            BSA123456789
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="nino">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="nino">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        
        
        
       
      </dl>

      <h2 class="govuk-heading-m">Dependant details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!--<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Dependants
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Dependant 1
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Michelle Philips</p>
            <p>15 January 2000</p>
            <p>IHS123456789</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="dependant-details">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Dependant 2
            </dt>
            <dd class="govuk-summary-list__value">
                <p>William Philips</p>
                <p>7 June 2003</p>
                <p>IHS123456789</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="dependant-details">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
      </dl>

      

      

     


      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>


  <style>

.govuk-summary-card {
    margin-bottom: 20px;
    border: 1px solid #b1b4b6;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.govuk-template {
    background-color: #f3f2f1;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
:root {
    --govuk-frontend-version: "5.4.0";
    --govuk-frontend-breakpoint-mobile: 20rem;
    --govuk-frontend-breakpoint-tablet: 40.0625rem;
    --govuk-frontend-breakpoint-desktop: 48.0625rem;
}

.govuk-summary-card__title-wrapper {
    padding: 15px;
    border-bottom: 1px solid transparent;
    background-color: #f3f2f1;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.govuk-template {
    background-color: #f3f2f1;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
:root {
    --govuk-frontend-version: "5.4.0";
    --govuk-frontend-breakpoint-mobile: 20rem;
    --govuk-frontend-breakpoint-tablet: 40.0625rem;
    --govuk-frontend-breakpoint-desktop: 48.0625rem;
}

.govuk-summary-card__content {
    padding: 15px 15px 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.govuk-template {
    background-color: #f3f2f1;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
:root {
    --govuk-frontend-version: "5.4.0";
    --govuk-frontend-breakpoint-mobile: 20rem;
    --govuk-frontend-breakpoint-tablet: 40.0625rem;
    --govuk-frontend-breakpoint-desktop: 48.0625rem;
}

.govuk-summary-card__title {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin: 5px 20px 10px 0;
}

.govuk-summary-list__key {
    margin-bottom: 5px;
    font-weight: 700;
}
  </style>
{% endblock %}
