{% extends "layout.html" %}

{% block pageTitle %}
What is your charity's UK address? - Charity Information - Register your charity's details with HMRC - GOV.UK
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: { text: "beta" },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% include "includes/back.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">What is [full name]'s full previous home address?</h1>

    <form method="post" action="confirm-address">

      {{ govukInput({
        label: {text: "Address line 1"},
        id: "auth--official-2-address-line-1",
        classes: "govuk-!-width-one-half",
        name: "auth--official-2-address-line-1",
        value: data["auth--official-2-address-line-1"]
      }) }}

      {{ govukInput({
        label: {text: "Address line 2 (optional)"},
        id: "auth--official-2-address-line-2",
        classes: "govuk-!-width-one-half",
        name: "auth--official-2-address-line-2",
        value: data["auth--official-2-address-line-2"]
      }) }}

      {{ govukInput({
        label: {text: "Address line 3 (optional)"},
        id: "auth--official-2-address-line-3",
        classes: "govuk-!-width-one-half",
        name: "auth--official-2-address-line-3",
        value: data["auth--official-2-address-line-3"]
      }) }}

      {{ govukInput({
        label: {text: "Town or City"},
        id: "auth--official-2-address-town",
        classes: "govuk-!-width-one-half",
        name: "auth--official-2-address-town",
        value: data["auth--official-2-address-town"]
      }) }}

      {{ govukInput({
        label: {text: "Postcode or Zipcode"},
        hint: { html: "For example, L69 9AZ or NE98 1ZZ."},
        id: "auth--official-2-address-postcode",
        classes: "govuk-!-width-one-half",
        name: "auth--official-2-address-postcode",
        value: data["auth--official-2-address-postcode"]
      }) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <!-- Link to Help -->
    {% include "includes/anything-wrong.html" %}

  </div>
</div>

{% endblock %}
