{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">The applicant is not eligible for an immigration health surcharge reimbursement but may be entitled to a refund</h1>

      <p>If you're eligible for a Tier 2 Health and Care visa and have not yet received a refund, email the IHS refunds team. In your mail include:</p>      

<ul class="govuk-list govuk-list--bullet">
      <li>name</li>
      <li>sponsor's name</li>
      <li>Certificate of Sponsorship (CoS) number</li>
      <li>IHS number</li>
    </ul>

  <p>Do not send your bank details. All refunds will be paid to the account or card you paid with.</p>

<a href="">IHSrefunds@homeoffice.gov.uk</a>
<br>



    </div>
  </div>

{% endblock %}
