{% extends "layout.html" %}

{% block pageTitle %}
  Upload payslips
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v18/attachments-add">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/v18/attachments-add2" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
              <!--<h1 class="govuk-heading-l">Upload evidence</h1>-->
              <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Application</span>
                Upload payslips
              </h1>
          </label>
          
          <span id="file-upload-1-hint" class="govuk-hint">
            <p>The applicant must provide payslips as evidence, from all of the applicant's health and social care employers, for each month of the 6-month period the claim is being made for. We need these payslip so we can match the applicant with the eligibility criteria.</p>
            <p>Payslips can be uploaded as scanned copies, digital photographs or digital payslips.</p>
          </span>




<div class="govuk-inset-text" style="overflow:hidden;" id="validEmail">
            <span class="govuk-hint govuk-!-margin-bottom-0">
                Attach payslips for the period between 31 March 2020 to 30 September 2020. &nbsp;<span class="govuk-body email-feedback" id="email-show" style="font-weight:800"></span>
            </span>
        </div>

 <!--
              <p>Attach evidence for the period between 31 March 2020 to 30 September 2020.</p>
-->

      <details class="govuk-details" data-module="govuk-details">
  
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Things to remember when uploading payslips
              </span>
            </summary>

          
                <ul class="govuk-list govuk-list--bullet">
                <li>your payslip attachments must be: jpg, jpeg, bmp, png or pdf and no larger than 2MB in size</li>
                <li>you upload the correct amount of payslips to cover the claim period</li>
                <li>you upload payslips that correspond to the claim period entered</li>
                <li>the payslips are not password-protected</li>
                </ul>
      
      </details>



          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
          </div>
          
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
