{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
<div id="content">

  <!-- <div class="float--right">
      <nav aria-label="language-switcher.nav" class="language-switcher">
        <ul>
          <li>

         <span>English</span>
         <span aria-hidden="true"> | </span>
         <a id="switch-language" href="/help/switch-to-welsh" data-journey-click="Language:Click:Welsh">
           <span class="visuallyhidden">Newid yr iaith i'r Gymraeg</span>
           <span aria-hidden="true">Cymraeg</span>
         </a>

          </li>
        </ul>
      </nav>
    </div>-->

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          We'll be carrying out maintenance on the service on Wednesday 5 June. On this day, the service may be unavailable for a short period of time.
        </p>
      </div>
    </div>
    <form class="form" action="/doug-ihs-question-v18" method="post">
      <div class="govuk-form-group">
        <span class="govuk-caption-l">Eligibility check</span>
        <fieldset class="govuk-fieldset" aria-describedby="doug-ihs-question-conditional-hint-v8">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
            <h1 class="govuk-fieldset__heading">Has the applicant paid an immigration health surcharge for their current visa?</h1>
        </legend>

        <div id="immigration-health-surcharge-paid-hint" class="govuk-hint">An immigration health surcharge is paid as part of the immigration application process.</div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="doug-ihs-question-conditional" name="doug-ihs-question-v18"
                  type="radio" value="yes" data-aria-controls="doug-conditional-ihs-question-conditional">
                <label class="govuk-label govuk-radios__label" for="doug-ihs-question-conditional">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="doug-ihs-question-conditional-2" name="doug-ihs-question-v18"
                  type="radio" value="no" data-aria-controls="doug-conditional-ihs-question-conditional-2">
                <label class="govuk-label govuk-radios__label" for="doug-ihs-question-conditional-2">
                  No
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

       <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text " >
          <span class="govuk-warning-text__assistive">Warning</span>
          If the applicant's Immigration Health Surcharge payment was made by a third party, such as a legal representative or agent, all reimbursements will be made to the third party. The applicant will need to contact the third party to reclaim these funds.
        </strong>
      </div> 

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}