{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
The applicant is not eligible for an immigration health surcharge reimbursement but may be entitled to a refund - Apply for your immigration health surcharge reimbursement - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-fieldset__heading">The applicant is not eligible for an immigration health surcharge reimbursement</h1>

      <p>The applicant may be entitled to a Tier 2 Health and Care visa refund. If the applicant thinks they're eligible, they can find out more by visiting the <a href="https://www.gov.uk/apply-immigration-health-surcharge-refund/tier-2-visa-medical-professional">Tier 2 visa medical professional section of the immigration health surcharge refund webpage</a> on GOV.UK.
      
      <!--<br>
      <br>
      In the email, include the applicant's:</p>      

<ul class="govuk-list govuk-list--bullet">
      <li>name</li>
      <li>sponsor's name</li>
      <li>Certificate of Sponsorship (CoS) number</li>
      <li>Immigration health surcharge number</li>
    </ul>

  <p>Do not send your bank details. All refunds will be made using the payment method the applicant paid their immigration health surcharge with.</p>

<br>

<h3 class="govuk-heading-m">What happens next</h3>
    
<p>We'll email you within 6 weeks to let you know the outcome.</p>

    
    </ul>

    </div>
  </div>-->

{% endblock %}
