{% extends "layout-health.html" %}

{% block pageTitle %}
The applicant is not eligible for an immigration health surcharge reimbursement but may be entitled to a refund - Apply for your immigration health surcharge reimbursement - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">The applicant is not eligible for an immigration health surcharge reimbursement but may be entitled to a refund</h1>

      <!--<p>The applicant may be entitled to a Tier 2 Health and Care visa refund. If the applicant thinks they're eligible, they can find out more by visiting the <a href="https://www.gov.uk/apply-immigration-health-surcharge-refund/tier-2-visa-medical-professional">Tier 2 visa medical professional section of the immigration health surcharge refund webpage</a> on GOV.UK.-->
      
      <p>The applicant may be entitled to a refund if they're a:</p>      

<ul class="govuk-list govuk-list--bullet">
      <li>Tier 2 visa holder</li>
      <li>health professional</li>
    </ul>

  <p>If the applicant thinks they're eligible, they can find out more by visiting the <a href="https://www.gov.uk/apply-immigration-health-surcharge-refund/tier-2-visa-medical-professional" target="_blank">Tier 2 visa medical professional section of the immigration health surcharge refund webpage (opens in new tab)</a> on GOV.UK.</p>

<!--<br>

<h3 class="govuk-heading-m">What happens next</h3>
    
<p>We'll email you within 6 weeks to let you know the outcome.</p>-->


    </div>
  </div>

{% endblock %}
