{% extends "layout-health.html" %}

{% block pageTitle %}
  Upload evidence
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v18/upload-of-evidence">Back</a>
{% endblock %}

{% block content %}

<style>
  .govuk-banner--success {
      border-color: #00703c;
      color: #00703c;
  }
  .govuk-banner {
      border: 5px solid #1d70b8;
      font-size: 0;
      margin-bottom: 30px;
      padding: 10px;
  }
  .govuk-banner__message {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  display: block;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
  }
  .govuk-banner__assistive {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  }

</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">File named Payslip June.doc has been deleted</p>
        </div>
      </div>-->


      <!--<div class="govuk-banner govuk-banner--success">

        <svg class="govuk-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25" style="display: inline-block">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>
        
        <div class="govuk-banner__message">
        <span class="govuk-banner__assistive">Success</span>File named Payslip June.doc has been deleted</div>
        
    </div>-->

      <form class="form" action="/v18/comments" method="post">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
    
            <ul class="govuk-list govuk-error-summary__list"> 
              <li>
                <a href="#documents">You cannot upload more than 75 files. Clear this error message to continue.</a>
              </li>
              
              <a href="/v18/upload-of-contract" style="color:#1d70b8;  font-weight: 500;" class="govuk-link">Clear error message</a>
              
            </ul>
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
              <!--<h1 class="govuk-heading-l">Upload evidence</h1>-->
              <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">Application</span>
                  Upload evidence
              </h1>
          </label>
          
          <span id="file-upload-1-hint" class="govuk-hint">
            <p>Evidence should be payslips, from all the applicant's health and social care employers, for every day of the 6-month period the claim is being made for. More than 6 months' worth of payslips may be necessary to cover this period.</p>
            <p>Evidence should be a scanned copy or photo of the original documents.</p>
            <p>Attach evidence for the period: <strong>30 April 2020</strong> to <strong>29 October 2020</strong></p>
            <p>Uploaded attachments must be:</p>
            <ul class=“govuk-list govuk-list--bullet”>
              <li>clear and readable</li>
              <li>jpg, jpeg, bmp, png or pdf</li>
              <li>no larger than 2MB in size</li>
            </ul>
        </span>
          
            
          </div>
                          <!--/////////// MOJ Style for multiple file uploader START ///////////////-->
                          <div class="govuk-grid-row">
                           
                                <div class="moj-multi-file-upload">
                                  <div class="moj-multi-file__uploaded-files ">
                                    <!--<h2 class="govuk-heading-m">Files added</h2>-->
                                    
                                    <div class="govuk-summary-list moj-multi-file-upload__list">
                                      <div class="govuk-summary-list moj-multi-file-upload__list">
                          
                                        <div class="moj-multi-file-upload__upload">

                                          <div class="govuk-form-group govuk-form-group--error">
                                            
                                           <!-- <h2 class="govuk-heading-m">Files added</h2>-->
                                           <!--<span class="govuk-error-message">
                                              <span class="govuk-visually-hidden">Error:</span> Contract 3.doc must be a jpg, bmp, png or pdf<br>Contract 4.pdf must be less than 2MB in size
                                            </span>-->
                                            
                                            <span class="govuk-error-message">
                                              <span class="govuk-visually-hidden">Error:</span> You cannot upload more than 75 files. Clear this error message to continue.
                                              <!--<p><a class="govuk-link" href="/v18/upload-of-contract-error-delete-all-function">
                                                Delete all unsuccessful files
                                              </a></p>-->
                                            </br>
                                            <a href="/v18/upload-of-contract" style="color:#1d70b8;  font-weight: 500;" class="govuk-link">Clear error message</a>
                                            </span>
                                            
                                            <div class="govuk-summary-list moj-multi-file-upload__list">
                                              <!--<div class="govuk-summary-list__row moj-multi-file-upload__row">  <dd class="govuk-summary-list__value moj-multi-file-upload__message"><span class="moj-multi-file-upload__success"> <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg> Payslip April.pdf successfully uploaded</span> </span></dd>  <dd class="govuk-summary-list__actions moj-multi-file-upload__actions"><button class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0" type="button" name="delete" value="CAS Statement.jpg">Delete <span class="govuk-visually-hidden">CAS Statement.jpg</span></button></dd> </div>-->
                                           
                                           
                                              
                                              <div class=""govuk-heading-m">
                                              <label class="govuk-label govuk-label--m" for="documents">
                                              Upload a file
                                            </label>
                                
                  
                                            <input class="govuk-file-upload moj-multi-file-upload__input govuk-file-upload--error" id="documents" name="documents" type="file" aria-describedby="documents-error" multiple="">
                                          </div>
                                
                                          <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                                            Upload file
                                          </button>
                                 </div>
                                        </div>
                                      </div>
                                    
                                  </div>
                          
                               
                                </div>

            <!--/////////// MOJ Style for multiple file uploader END ///////////////-->

            
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
