{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
  <style>
      .govuk-banner--success {
          border-color: #00703c;
          color: #00703c;
      }
      .govuk-banner {
          border: 5px solid #1d70b8;
          font-size: 0;
          margin-bottom: 30px;
          padding: 10px;
      }
      .govuk-banner__message {
      font-family: "GDS Transport", Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25;
      color: #0b0c0c;
      display: block;
      overflow: hidden;
      display: inline-block;
      margin-left: 10px;
      }
      .govuk-banner__assistive {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
      clip: rect(0 0 0 0) !important;
      clip-path: inset(50%) !important;
      border: 0 !important;
      white-space: nowrap !important;
      }

  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">File named EHIC-card.jpg has been deleted</p>
        </div>
      </div>

      <form class="form" action="/v19/dependant/attachments-add-ehic" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
              <!--<h1 class="govuk-heading-l">Upload evidence</h1>-->
              <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">Application</span>
                  Upload a copy of the dependant's European Health Insurance Card (EHIC)
              </h1>
          </label>

          <span id="file-upload-1-hint" class="govuk-hint">
            <p>Evidence should be a scanned copy or photo of the card which includes the applicant's: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>full name</li>
              <li>date of birth</li>
              <li>personal identification number</li>
              <li>identification number of the card</li>
              <li>card expiry date</li>
            </ul>
            <p>Your uploaded file must be:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a jpg, jpeg, bmp, png or pdf</li>
              <li>a file size no larger than 2MB</li>
            </ul>
          </span>
          
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
        </div>
          
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>
  </div>

{% endblock %}
