{% extends "layout.html" %}

{% block pageTitle %}
  Postccode search
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/live-student/dependant/same-address">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Application</span>
          What's the dependant's UK address?
      </h1>
      <form class="form" action="/live-student/dependant/select-address" method="get">
        <p class="govuk-!-font-weight-bold">Postcode</p>
        {{ govukInput({
          id: "auth--official-2-postcode",
          classes: "govuk-!-width-one-half",
          name: "auth--official-2-postcode"
        }) }}

        {{ govukButton({
          text: "Find address"
        }) }}

        <p><a href="/live-student/dependant/manual-address">Enter the dependant's UK address manually</a> &nbsp;</p>
      </form>

    </div>
  </div>

{% endblock %}
