{% extends "layout-health.html" %}

{% block pageTitle %}
Application complete
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Dates checked</h1>
      <div class="govuk-panel__body">
        Your first and last payslips do <strong>not</strong> cover the start and end of the
        claim period     </div>
        </div>

    

    <p>Based on the dates you've given, your evidence will not cover the start and end of your claim period from [Start
      date] to [End date].
    </p>
    <p>We have not saved this information.</p>

    <p>When you make your application, you will need to upload more evidence to cover the periods:</p>
    <ul class="govuk-list--bullet govuk-list">
      <li>[Start of gap] to [End of gap]</li>
      <li>[Start of gap] to [End of gap]</li>
    </ul>
    <p>If you have not been paid for the last month of your claim yet, you should wait and apply after you have been paid.</p>
    <a href="ihs-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Apply now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
    
    <!-- <h2 class="govuk-heading-m">Download your application details</h2>
      <p>You can download the details of your application and use them for future applications.</p>
      <button onclick="window.print();" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save application details as PDF
      </button> -->



    <!--
      <p>A confirmation email will be sent which will contain a link allowing the applicant to sign up to the reminder service. This service will remind the applicant that may need to reapply after 6 months.</p>
      -->

    <br>
    <p class="govuk-body">If you have any questions, <a href="/footer-HSC/contact-us" target="_blank">contact us (opens
        in new tab)</a>.
  

  </div>
</div>

{% endblock %}