{% extends "/layouts/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Contact us
      </h1>
<h2><a href="https://www.gov.uk/contact-ukvi-inside-outside-uk">Contact UK Visas and Immigration about your application</a></h2>
      <p>Contact NHSBSA for advice or complaints about....</p>
      <p>Contact UKV&I/HO for advice or complaints about....</p>

      <div class="contact">
        <p><strong>Apply for your immigration health surcharge reimbursement Adviceline</strong><br>
        Telephone: 0000000000<br>
        From outside the UK: +44 (0)000 000 0000<br>
        Textphone: 00001 0000 000 0000<br>
        Monday to Friday, 8am to 6pm<br>
        Saturday, Sunday and UK bank holidays, 9am to 5:30pm????<br>
        <a href="#">Find out about call charges???</a></p>
        </div>

        <h2 id="if-you-need-advice-or-to-make-a-complaint">If you need advice or to make a complaint</h2>
        <p>Textphone: 00001 0000 000 0000</p>
        <p>Email: IHS-reimbursement@nhsbsa.nhs.uk</p>
        <p>You can also contact <abbr title="Her Majesty's Passport Office">HMPO</abbr> by post.</p>
        <div class="address"><div class="adr org fn"><p>

          Her Majesty's Passport Office 
          <br>PO Box 767 
          <br>Southport 
          <br>PR8 9PW
          <br>
          </p></div></div>
    </div>
  </div>

{% endblock %}
