{% extends "layout-health.html" %}

{% block pageTitle %}
  You need additional evidence
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-fieldset__heading">What's your name?</h1>-->

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Application</span>
          You need additional evidence
      </h1>

      <p>Before you continue with this claim you need to collect additional evidence.</p>

      <p>You can either: go and get it</p>

      <p>or if you cannot: get some evidence from your employer to prove the gap in employment</p>

      
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        <br><a href="">Cancel</a>

      

    </div>
  </div>

{% endblock %}
