{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
Dependant add
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" id="dependant-form">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Application</span>
        Check dependant details
      </h1>

      <h2 class="govuk-heading-m" style="display:inline">Dependant 1</h2>
      <span style="margin-left:45px;font-size:1.1875rem; float:right;">
        <a href="/v20/dependant-details-delete">
          Delete dependant
          <span class="govuk-visually-hidden"> dependant 1</span>
        </a>
      </span>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">Michelle Philips</dd>
          <dd class="govuk-summary-list__actions">
            <a href="dependant-details">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">15 January 2000</dd>
          <dd class="govuk-summary-list__actions">
            <a href="dependant-details">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Immigration health surcharge number</dt>
          <dd class="govuk-summary-list__value">IHS123456789</dd>
          <dd class="govuk-summary-list__actions">
            <a href="ihs-number">Change</a>
          </dd>
        </div>

      </dl>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Does the applicant have another dependant?
            </h2>
          </legend>

          <div class="govuk-radios govuk-radios--inline">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dependant-yes" name="dependant" type="radio" value="yes">

              <label class="govuk-label govuk-radios__label" for="dependant-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dependant-no" name="dependant" type="radio" value="no">

              <label class="govuk-label govuk-radios__label" for="dependant-no">
                No
              </label>
            </div>

          </div>

        </fieldset>

      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<script>

  document.getElementById("dependant-form").addEventListener("submit", function (e) {

    e.preventDefault()

    var answer = document.querySelector('input[name="dependant"]:checked')

    if (!answer) return

    if (answer.value === "yes") {
      window.location.href = "/v20/dependant-details"
    }

    if (answer.value === "no") {
      window.location.href = "/v20/subscription-question"
    }

  })

</script>

{% endblock %}