{% extends "layout-health.html" %}

{% block pageTitle %}
Your previous IHS refund applications – Immigration Health Surcharge Refund Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your previous IHS refund applications
    </h1>

    <p class="govuk-body">
      Based on the details you've provided, here are your previously accepted refund applications. This will help you understand which 6-month claim period to apply for next.
    </p>

    <table class="govuk-table govuk-table--small-text-until-tablet">
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">BSA reference number</th>
      <th scope="col" class="govuk-table__header">Claim start date</th>
      <th scope="col" class="govuk-table__header">Claim end date</th>
       <th scope="col" class="govuk-table__header">IHS number</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">ABC1234567</th>
      <td class="govuk-table__cell">1 August 2021</td>
      <td class="govuk-table__cell">31 January 2022</td>
      <td class="govuk-table__cell">IHS12345678</td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">ABC1234567</th>
      <td class="govuk-table__cell">1 February 2022</td>
      <td class="govuk-table__cell">31 July 2022</td>
      <td class="govuk-table__cell">IHS12345678</td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">ABC1234567</th>
      <td class="govuk-table__cell">1 August 2022</td>
      <td class="govuk-table__cell">31 January 2023</td>
      <td class="govuk-table__cell">IHS12345678</td>
    </tr>
    
    
  </tbody>
</table>
<p class="govuk-hint">Table last updated: 4 August 2025</p>


  

    <a href="/apply" class="govuk-button govuk-button--primary" data-module="govuk-button">
      Continue new claim
    </a>
  </div>
</div>

{% endblock %}
