{% extends "layout-portal-blank.html" %}

{% block pageTitle %}
Sign in to Manage Your IHS Reimbursement

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}




<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/get-security-code-answer" method="post">
        
        



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="choose-security-codes-hint">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    
      <h1 class="govuk-fieldset__heading">
        Choose how to get security codes
      </h1>
    
    </legend>
    
  
    <div id="choose-security-codes-hint" class="govuk-hint">
      You'll need to enter a security code when you sign in to GOV.UK One Login.
    </div>
  
  
    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-security-codes" name="choose-security-codes" type="radio" value="Text message">
        <label class="govuk-label govuk-radios__label" for="choose-security-codes">
          Text message
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-security-codes-2" name="choose-security-codes" type="radio" value="Authenticator app for smartphone, tablet or computer" aria-describedby="choose-security-codes-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="choose-security-codes-2">
          Authenticator app 
        </label>
        
        <div id="choose-security-codes-2-item-hint" class="govuk-hint govuk-radios__hint">
          You can use any authenticator app to create security codes when you sign in 
        </div>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>

        
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What is an authenticator app?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">An authenticator app creates a security code that helps confirm it’s you when you sign in.</p>
            <p class="govuk-body">You can use an authenticator app on your smartphone, tablet or desktop computer.</p>
            <p class="govuk-body">Download an authenticator app from your app store or search online for one you can use on your computer.</p>
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button" data-govuk-button-init="" formaction="phone-number">
          Continue
        </button>

      </form>
    </div>
</div>
{% endblock %}