{% extends "layout-portal-blank.html" %}

{% block pageTitle %}
Sign in to Manage Your IHS Reimbursement

{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      <h1 class="govuk-heading-l">Create your GOV.UK One Login or <br class="auth-heading">sign in</h1>

      <p class="govuk-body">You can use your GOV.UK One Login to access some government services.</p>

      <p class="govuk-body">In the future, you’ll be able to use it to access all services on GOV.UK.</p>

      <p class="govuk-body">You’ll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
      </ul>

      <p class="govuk-body">You can prove your identity after you’ve created your GOV.UK One Login. You only need to do this for some services.</p>

      <div class="govuk-inset-text">
        You can also <a href="#" class="govuk-link govuk-link--no-visited-state">use GOV.UK One Login in Welsh (Cymraeg)</a>.
      </div>

      
    
      <button value="create" name="optionSelected" class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" id="create-account-link" formaction="email" data-govuk-button-init="">
        Create your GOV.UK One Login
      </button>

      <div>
    
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="sign-in-button" formaction="/portal/v1/gov-login/email-address" data-govuk-button-init="">
        Sign in
      </button>
    
    
    

        <p class="govuk-body">
          <a href="https://www.gov.uk/using-your-gov-uk-one-login/services" class="govuk-link govuk-link--no-visited-state" target="_blank">Services you can use with GOV.UK One Login  (opens in new tab)</a>
        </p>

      
    </div></form>
  </div>

</div>
{% endblock %}
