{% extends "layout.html" %}

{% block pageTitle %}
  IHS number
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/interview/fe3f73f3-2547-4376-8d15-79bccfd65406?preview=true">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v17/dependant/dob">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Application</span>
          What's the dependant's immigration health surcharge (IHS) number?
      </h1>

      <div class="govuk-hint">
        When the immigration health surcharge was paid, an email would have been sent which contains this number. For example, 'IHS123456789'.
      </div>

      <form class="form" action="/v17/dependant/share-code" method="get">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text"> If the dependant has lost
              this number </span>
          </summary>
          <div class="govuk-details__text">
            To contact us, <a class="govuk-link" href="https://www.gov.uk/contact-ukvi-inside-outside-uk" target="_blank">visit UK Visas and Immigration on GOV.UK</a>.
          </div>
        </details>

        <div class="govuk-form-group">
          <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="ihs-number" type="text" aria-describedby="national-insurance-number-hint" spellcheck="false">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
