{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Tom Leeds
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v19/name">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            30th February 1995
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v19/dob">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Immigration health surcharge (IHS) number
          </dt>
          <dd class="govuk-summary-list__value">
            IHS123456789
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v19/ihs-number">
              Change
              <span class="govuk-visually-hidden"> IHS number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Visa share code
          </dt>
          <dd class="govuk-summary-list__value">
            A12 345 67G
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v19/share-code">
              Change
              <span class="govuk-visually-hidden">Share code</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
              100 Alfred Road
              <br> Southampton
              <br>SO11 2AB
              <br>United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v19/postcode">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Email address
            </dt>
            <dd class="govuk-summary-list__value">
              t.leeds@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v19/email-address">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v19/telephone-number">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Files uploaded
              </dt>
              <dd class="govuk-summary-list__value">
                  <p><!--<a href="#">-->EHIC-card.jpg<!--</a>--></p>
                  <p><!--<a href="#">-->letter-from-university-of-sunderland.jpg<!--</a></p>-->
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="/v19/attachments-add-letter">
                  Change
                  <span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
      </dl>

      <h2 class="govuk-heading-m">Dependant 1</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Michelle Philips
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    15 January 2017
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> date of birth</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Immigration health surcharge (IHS) number
                </dt>
                <dd class="govuk-summary-list__value">
                  IHS123456789
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> IHS number</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Visa share code
                </dt>
                <dd class="govuk-summary-list__value">
                  A12 345 67G
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> Share code</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                    100 Alfred Road
                    <br> Southampton
                    <br>SO11 2AB
                    <br>United Kingdom
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> address</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Files uploaded
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p><!--<a href="#">-->EHIC-card-dependant1.jpg<!--, 2MB</a>--></p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v19/dependant/attachments-add-ehic">
                      Change
                      <span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
      </dl>

      <h2 class="govuk-heading-m">Dependant 2</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Philip Philips
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    12 April 2014
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> date of birth</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Immigration health surcharge (IHS) number
                </dt>
                <dd class="govuk-summary-list__value">
                  IHS123456789
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> IHS number</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Visa share code
                </dt>
                <dd class="govuk-summary-list__value">
                  A12 345 67G
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> Share code</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                    100 Alfred Road
                    <br> Southampton
                    <br>SO11 2AB
                    <br>United Kingdom
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> address</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Files uploaded
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p><!--<a href="#">-->EHIC-card-dependant2.jpg<!--, 2MB</a>--></p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v19/dependant/attachments-add-ehic">
                      Change
                      <span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
      </dl>

      <!--<h2 class="govuk-heading-m">Additional Information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Comment
            </dt>
            <dd class="govuk-summary-list__value">
              Please delete the file my-cat.jpg as I uploaded this by mistake.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v14/comments">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
      </dl>-->

<div>
<div>
      <form action="/v19/declaration" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
