{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block beforeContent %}
   <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>You've successfully submitted a claim for an immigration health surcharge reimbursement.</p>
      <p>We've sent you an email to confirm this.</p>
      <!--<p>The applicant's claim period is: <strong>1 October 2020</strong> to <strong>31 March 2021</strong>.</p>-->

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll assess the claim within the next 3 months. However, it could take longer than this to receive your money.</p>

      <h2 class="govuk-heading-m">Get help with your application</h2>

      <ul class="govuk-list">
        <p class="govuk-body">If you have any questions, <a href="/footer/contact-us" target="_blank">contact us (opens in new tab)</a>. 
      </ul>

      <p><a href="https://www.gov.uk/done/apply-immigration-health-surcharge-refund" target="_blank">What did you think of this service? (opens in new tab)</a> This will take 30 seconds to complete.</p>

    </div>
  </div>

{% endblock %}
