{% extends "layout.html" %}

{% block pageTitle %}
Reimbursement start page
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Visas and immigration</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Study in the UK</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<style>
  .guide .part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1b4b6;
  }

  .gem-c-contents-list {
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 15px -10px #fff;
  }

  .gem-c-contents-list__title {
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }

  .gem-c-contents-list__list,
  .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ol,
  ul,
  nav ol,
  nav ul {
    list-style: inherit;
  }

  .gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
  }

  .gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
  }

  .gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }

  @media (min-width: 40.0625em) {
    .gem-c-contents-list__title {
      font-size: 16px;
      line-height: 1.5;
    }

    .gem-c-contents-list__list,
    .gem-c-contents-list__nested-list {
      font-size: 16px;
      line-height: 1.25;
    }

    .gem-c-contents-list__list-item {
      padding-top: 7.5px;
    }
  }

  .gem-c-govspeak .contact {
    position: relative;
  }

  .gem-c-govspeak .address,
  .gem-c-govspeak .contact {
    border-left: 1px solid #b1b4b6;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Get an immigration health surcharge refund if you're a student from the EU, Switzerland, Norway, Iceland or
      Liechtenstein
    </h1>

    <!--<aside class="part-navigation-container" role="complementary" style="border-bottom: 1px solid #b1b4b6; margin-top: 30px; margin-bottom: 30px; padding-bottom: 15px;">
        <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application">Overview</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application/who-needs-pay">Who needs to pay</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application/how-much-pay">How much you have to pay</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application/pay">Pay the healthcare surcharge</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="/v11/start-gov">Claiming back your immigration health surcharge</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application/refunds">Refunds</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="">Reimbursements</a>
            </li>

            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              Reimbursements
            </li>
 
        </ol>
        </nav>
    </aside>-->

    <p>You might be able to get a refund (‘reimbursement’) if you paid the immigration health surcharge (IHS) and you’re
      a student from:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the EU</li>
      <li>Switzerland</li>
      <li>Norway</li>
      <li>Iceland</li>
      <li>Liechtenstein</li>
    </ul>
    <!--<div class="govuk-inset-text">
      The applicant should consider carefully their healthcare needs before deciding whether to apply for a reimbursement. If they intend to apply for a reimbursement of their Immigration Health Surcharge (IHS) payment, they should use their European Health Insurance Card (EHIC) for medically necessary treatment during their studies. You may have to pay for any healthcare you receive which is not deemed medically necessary.
    </div>-->

    <h2 class="govuk-heading-m">Eligibility</h2>
    <p>You must have paid IHS and all of the following must be true:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you’re in full-time higher education in the UK</li>
      <li>you have a European Health Insurance Card (EHIC) issued in an EU country, Switzerland, Norway, Iceland or
        Liechtenstein</li>
      <li>you live in the UK and have a UK address - this can be student accommodation</li>

    </ul>

    <p>Your visa must have started on or after:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>1 January 2021 - if your EHIC was issued in the EU or Norway</li>
      <li>1 November 2021 - if your EHIC was issued in Switzerland</li>
      <li>1 January 2024 - if your EHIC was issued in Iceland or Liechtenstein</li>

    </ul>

   




    <!--<details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If the applicant's work has been affected by coronavirus (COVID-19)
            </span>
          </summary>

          <h2 class="govuk-heading-m">If the applicant has been furloughed</h2>
          <p>A furloughed worker can still apply and be eligible. They should still be getting a payslip so they still need to submit evidence.</p>
          <p>They may need to show that before furlough they were meeting the minimum hours worked. For example, a person who has a zero-hour contract may need to demonstrate it, whereas someone contractually obliged to work 37 hours a week would not, as this should be indicated on their payslip.</p>
          <p>Furloughed workers are not allowed to take further paid employment and therefore should not be penalised by something outside their control.</p>
          <p>They may be unable to claim benefits because they're considered “employed”, unless their pay is less than the maximum taper for that benefit.</p>

          <h2 class="govuk-heading-m">If the applicant's working hours have been reduced due to coronavirus (zero-hours contracts or work via an agency)</h2>
          <p>The applicant will still need to meet the minimum eligibility criteria for hours worked to be eligible.</p>

          <h2 class="govuk-heading-m">If the applicant has had to self-isolate due to coronavirus (due to either having the virus or as a precautionary measure, due to being in contact with someone who has the virus)</h2>
          <p>An applicant can still apply if they've had a gap in employment, up to a maximum of 4 weeks (where that person was eligible before that four-week period). However, in most circumstances a person self-isolating could still be working from home, on sickness absence or on unpaid leave and would be eligible to apply in those circumstances.</p>
          <p>If there are other circumstances that you feel we need to be aware of, it would be useful to understand them so we can consider them.</p>

          <h2 class="govuk-heading-m">If the applicant is clinically vulnerable and has been advised not to work due to increased risk.</h2>
          <p>This will depend on how an employer treats the applicant.</p>
          <p>An applicant will remain eligible if they are furloughed, or the company is still paying them. For example, if the applicant is on a statutory form of leave or the company is still paying their wages for their hours.</p>
          <p>If an employer makes that person redundant, providing the work was in an eligible role, setting and met the minimum hours prior to that redundancy, then they would only be eligible if they had been working for 6 months (or 5 months, with a gap of 4 weeks at the end of that period between employment).</p>

</details>-->


    <!--<h2 class="govuk-heading-l">Dependants</h2>
    <p>Dependants are people who the applicant supports financially. For example, the applicant's spouse, civil partner, durable partner or children. </p>
      <p>If the applicant is eligible, their dependants can also get a reimbursement. They can include them in the same application. Dependants don't need to apply separately.</p>-->

    <p><strong>If you want to get a job while you study</strong></p>
    <p>You will not be eligible for a refund if you work or intend to work in the UK while you study. This is because if
      you start paid work your EHIC may become invalid and you will not be able to use it to access healthcare. </p>


    <p><strong>If you're a student from Norway</strong></p>
    <p>If you’re applying for a refund of IHS payments made between 1 January 2021 and 31 December 2023, <a href="/footer/contact-us">contact the NHS
      Business Services Authority (NHS BSA)</a> for an application form. You'll need your passport.</p>
      

        

    <p>If you’re applying for a refund of payments made on or after 1 January 2024, you can apply online. You'll need to provide a valid EHIC.</p>


    <p><strong>If you're a student from Iceland or Liechtenstein</strong></p>
    <p>Your IHS refund will be backdated to 1 January 2024, even if your visa started earlier.</p>




    <p><strong>If you’re a student from Denmark</strong></p>
    <p>There is a <a
        href="/guidance/healthcare-for-eu-and-efta-nationals-living-in-the-uk#when-your-healthcare-costs-in-the-uk-are-covered-by-an-eu-country">different
        way to get your <abbr title="immigration health surcharge">IHS</abbr> refund</a> because you’ll have an
      EU-issued S1 certificate.</p>
    <p>If you do not have an EU-issued S1 certificate you’ll need to ask the local authority in your country to give you
      one. You can either:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>contact them yourself</li>
      <li><a href="/footer/contact-us">ask the NHS BSA</a> to
        contact them for you</li>
    </ul>


    <h2 class="govuk-heading-m">Dependants</h2>
    <p>Your partner and children (‘dependants’) may be eligible for a refund if all of the following are true:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>they are in the UK on a visa that started on or after 1 January 2021</li>
      <li>they have a valid EHIC</li>
      <li>they do not work or intend to work in the UK</li>
    </ul>
    <p>Your dependants may be eligible for a refund even if you are not.</p>

    <h2 class="govuk-heading-m">What you’ll need to apply online</h2>

    <P>You’ll need:</P>

    <ul class="govuk-list govuk-list--bullet">
      <li>your IHS number - you can find this in the confirmation email you received from Worldpay when you paid</li>
      <li>your <a href="https://www.gov.uk/view-prove-immigration-status">'share code' to prove your immigration
          status</a></li>
      <li>your UK address</li>
      <li>your email address</li>
      <li>a copy of your EHIC</li>
      <li>copies of your documents to prove you’re a student in full-time higher education</li>

    </ul>
    <p>You can upload copies as a scan or a photo.</p>
    <!--<p>Applicants can apply for the reimbursement if they work in an eligible role in the health or care sector, for example: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>direct patient care, such as a health care assistant or social care worker</li>
      <li>administrative or leadership, such as a manager in a care home or a hospital receptionist</li>
      <li>facilities management, such as a cleaner, caterer or courier in a hospital</li>
    </ul>
<br>
<p>They must also work for an eligible organisation, for example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the NHS</li>
      <li>the Care Quality Commission (CQC)</li>
      <li>Health Education England (HEE)</li>
      <li>Medicines and Healthcare products Regulatory Agency (MHRA) </li>
      <li>Public Health England (PHE)</li>
      <li>the National Institute for Health and Care Excellence (NICE) </li>
    </ul>

     <p><a href="https://www.gov.uk/government/publications/immigration-health-surcharge-applying-for-a-refund/immigration-health-surcharge-guidance-for-reimbursement-2020#annex">View a list of jobs and organisations which are eligible</a>.</p>-->

    <p><strong>Documents you can use to prove you’re in full-time higher education</strong></p>
    <p>You’ll need a copy of either:</p>

    <!--<h2 class="govuk-heading-m">What you’ll need to apply online</h2>
    <p>You’ll need:</p>-->
    <ul class="govuk-list govuk-list--bullet">
      <li>the Confirmation of Acceptance for Studies (CAS) from your course provider</li>
      <li>a letter confirming enrolment from your course provider</li>
    </ul>

    <h2 class="govuk-heading-m">Apply online</h2>
    <p>If your application is successful, NHS BSA will send the money within 3 months. It will be sent to the account that was used to pay for the IHS. If a third party paid your IHS, the money will go to their account.</p>
    <!--<p>You can apply for a refund for any dependants who have registered an EU-issued S1, where you have paid the immigration health surcharge on their behalf.</p>
<p>If they paid the immigration health surcharge themselves, they should apply for the refund.</p>
<p>If an employer or third party has paid the immigration health surcharge for you, you must begin the application on their behalf. The Overseas Healthcare Services team will then contact them for more information to process the application.</p>
<p>To apply, contact the Overseas Healthcare Services team:</p>
<div class="address"><div class="adr org fn"><p>

  Overseas Healthcare Services
  <br>NHS Business Services Authority
  <br>Bridge House
  <br>152 Pilgrim Street
  <br>Newcastle upon Tyne
  <br>NE1 6SN
  <br>
  </p></div></div>

  <p>Email: <a href="mailto:faregistrationsohs@nhsbsa.nhs.uk" class="govuk-link">faregistrationsohs@nhsbsa.nhs.uk</a></p>
  <p>Phone: 0191 218 1999, or +44 191 218 1999 from outside the UK</p>-->


    <!--<p>At the end of the 6-month period, we'll pay the balance due, which is based on the amount of IHS they paid.</p>-->
    <!--<p>The applicant will usually get their reimbursement within 6 weeks of getting a decision. It can take longer if the applicant:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>appeals the decision</li>
      <li>asks for an administrative review</li>
      <li>doesn't provide all of the required information</li>
    </ul>


    <p>This application takes around 30 minutes.</p>
    <p>If you do not enter any information for more than 30 minutes, your application will time out and you'll have to start again.</p>-->

    <!-- <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text " >
        <span class="govuk-warning-text__assistive">Warning</span>
        If the applicant's Immigration Health Surcharge payment was made by a third party, such as a legal representative or agent, all reimbursements will be made to the third party. The applicant will need to contact the third party to reclaim these funds.
      </strong>
    </div>  -->

    <a href="/v19/ihs-paid" role="button" draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <section class="more">

      <div id="other-ways-to-apply">
        <h2 class="govuk-heading-m">Get help with your application</h2>

        <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

          <p><a href="/footer/contact-us">Contact the NHS BSA</a> to get help with your application.</p>



          
        </div>
      </div>

    </section>

    <br>


    <h2 class="govuk-heading-m">What you’ll get</h2>
    <p>You can only apply for a refund for the duration of your stay where your EHIC is valid.</p>
    <p>If your EHIC is valid for the full length of your visa, you can get a full refund.</p>
    <p>If your EHIC will expire part way through your visa, you can apply for a partial refund. You can then renew your
      EHIC and apply for the remaining refund.</p>
    <div class="govuk-inset-text">
      <h3 id="example">Example</h3>

      <p>If you have a visa that is valid from 1 October 2021 to 31 December 2023 and an EHIC that is valid until 1 June
        2022, you can apply for a refund of 6 months. Refunds are rounded down to the nearest 6 months.</p>
      <p>If you then renew your EHIC and the new card is valid until 1 June 2027, you can apply for the remaining
        refund.</p>
    </div>

    <h2 class="govuk-heading-m">What healthcare cover you’ll get</h2>
    <p>Before you get an IHS refund, you are entitled to <a href="https://signon.publishing.service.gov.uk/users/sign_in#accessing-uk-healthcare-during-your-studies">the same healthcare coverage as a UK citizen</a>.</p>
    <p>If you get a refund, the healthcare coverage you get will change. You will only be able to use your <abbr
        title="European Health Insurance Card">EHIC</abbr> to access <a
        href="https://signon.publishing.service.gov.uk/users/sign_in#medically-necessary-treatment">‘medically
        necessary treatment’</a> during your stay.</p>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href=https://www.gov.uk/apply-to-come-to-the-uk>
              Applying for a visa to come to the UK
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>
{% endblock %}