{% extends "layouts/layout-health.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<style>
.guide .part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1b4b6;
}
.gem-c-contents-list {
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 15px -10px #fff;
}
.gem-c-contents-list__title {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}
.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ol, ul, nav ol, nav ul {
    list-style: inherit;
}
.gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}
.gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
}
.gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}
@media (min-width: 40.0625em){
  .gem-c-contents-list__title {
      font-size: 16px;
      line-height: 1.5;
  }
  .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    font-size: 16px;
    line-height: 1.25;
  }
  .gem-c-contents-list__list-item {
      padding-top: 7.5px;
  }
}
.gem-c-govspeak .contact {
    position: relative;
}
.gem-c-govspeak .address, .gem-c-govspeak .contact {
    border-left: 1px solid #b1b4b6;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-fieldset__heading">
        Pay for UK healthcare as part of your immigration application
      </h1>

      <aside class="part-navigation-container" role="complementary" style="border-bottom: 1px solid #b1b4b6; margin-top: 30px; margin-bottom: 30px; padding-bottom: 15px;">
        <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application">Overview</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application/who-needs-pay">Who needs to pay</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application/how-much-pay">How much you have to pay</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="https://www.gov.uk/healthcare-immigration-application/pay">Pay the healthcare surcharge</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              Refunds
            </li>
        </ol> 
        </nav>
    </aside>
    
    <h2 class="govuk-heading-m" class="govuk-heading-m">Refunds</h2>


    

    <p class="govuk-body">You'll get a full immigration health surcharge (<abbr title="immigration health surcharge">IHS</abbr>) refund if:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you paid twice</li>
<li>your visa application is refused</li>
<li>you withdraw your visa application</li>
</ul>

<p class="govuk-body">You'll get a partial <abbr title="immigration health surcharge">IHS</abbr> refund if your visa application's successful but:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you get less time on your visa than you asked for</li>
<li>any dependants on your visa application are refused</li>
</ul>

<p class="govuk-body">If you are due a full or partial refund for these reasons, you do not have to do anything to get it. It will be automatically paid to the account or card you paid with.</p>

<p class="govuk-body">You will not get a refund if:</p>

<ul class="govuk-list govuk-list--bullet">
<li>your visa application is successful but you do not come to the UK</li>
<li>you leave the UK before your visa ends, for example to make a new application</li>
<li>you're told to leave the UK before your visa expires</li>
<li>you're applying for indefinite leave to remain</li>
</ul>

<p class="govuk-body">If you're changing to the Tier 2 Health and Care visa, you will get a full refund of your <abbr title="immigration health surcharge">IHS</abbr> from 31 March 2020. You will not get a refund if you're changing to any other visa.</p>

<h2 class="govuk-heading-m" id="if-you-work-in-health-and-care">If you are a tier 2 in health and care</h2>

<p class="govuk-body">here will be some bullet points from dougs prototype</p>
<p class="govuk-body">this is the email address explaining the process.....</p>

<h2 class="govuk-heading-m" id="if-you-work-in-health-and-care">If you work in health and care</h2>

<p class="govuk-body">Health and care workers can apply for a refund of any <abbr title="immigration health surcharge">IHS</abbr> they paid to cover the period from 31 March 2020.</p>

<p class="govuk-body">You must have worked in an <a href="/government/publications/immigration-health-surcharge-applying-for-a-refund">eligible health or care role</a> for at least 6 months since 31 March 2020, working for an average of at least 16 hours a week.</p>

<p class="govuk-body">If you meet these conditions, your dependants are also entitled to a refund.</p>

<h3 class="govuk-heading-s" id="what-youll-get">What you'll get</h3>

<p class="govuk-body">Each time you apply, you will get 6 months' worth of the <abbr title="immigration health surcharge">IHS</abbr> you have paid, up to a maximum of £200. You will need to apply every 6 months.</p>

<p class="govuk-body">You can only get a refund of the <abbr title="immigration health surcharge">IHS</abbr> you've paid to cover your healthcare from 31 March 2020 onwards.</p>

<p class="govuk-body"><a href="/apply-immigration-health-surcharge-refund">Apply for an <abbr title="immigration health surcharge">IHS</abbr> refund if you work in health and care</a>.</p>

<h3 class="govuk-heading-s" id="if-youre-eligible-for-the-tier-2-health-and-care-visa">If you're eligible for the Tier 2 Health and Care visa</h3>

<p class="govuk-body">You and your dependants do not normally need to pay the <abbr title="immigration health surcharge">IHS</abbr> if you either:</p>

<ul class="govuk-list govuk-list--bullet">
<li>have a <a href="/tier-2-health-care-visa">Tier 2 Health and Care visa</a>
</li>
<li>would have been eligible for a Tier 2 Health and Care visa on or after 4 August 2020</li>
</ul>

<p class="govuk-body">If you paid the <abbr title="immigration health surcharge">IHS</abbr> on or after 31 March 2020, you should automatically get a full refund.</p>

<p class="govuk-body">If you're eligible for a Tier 2 Health and Care visa and have not yet received a refund, email the <abbr title="immigration health surcharge">IHS</abbr> refunds team. In your mail, include your:</p>

<ul class="govuk-list govuk-list--bullet">
<li>name</li>
<li>sponsor's name</li>
<li>Certificate of Sponsorship (CoS) number</li>
<li>
<abbr title="immigration health surcharge">IHS</abbr> number</li>
</ul>

<p class="govuk-body">Do not send your bank details. All refunds will be paid to the account or card you paid with.</p>

<div class="contact">
<p class="govuk-body"><strong>Health and care worker immigration health surcharge refunds</strong><br>
<a href="mailto:IHSrefunds@homeoffice.gov.uk">IHSrefunds@homeoffice.gov.uk</a></p>
</div>

<h2 class="govuk-heading-m" id="how-long-it-takes">How long it takes</h2>

<p class="govuk-body">You usually get your refund within 6 weeks of getting a decision on your visa application. It can take longer if you <a href="/immigration-asylum-tribunal">appeal</a> or ask for an <a href="/ask-for-a-visa-administrative-review">administrative review</a> after your visa application is refused.</p>

<h3 class="govuk-heading-s" id="if-you-appeal-or-ask-for-an-administrative-review">If you appeal or ask for an administrative review</h3>

<p class="govuk-body">If you applied from:</p>

<ul class="govuk-list govuk-list--bullet">
<li>inside the UK - you'll get your refund up to 6 weeks after your appeal or administrative review is dismissed</li>
<li>outside the UK - you'll get your refund up to 6 weeks after your visa application is refused</li>
</ul>

<p class="govuk-body">You'll have to repay the <abbr title="immigration health surcharge">IHS</abbr> if your appeal or administrative review is successful and you've already got your <abbr title="immigration health surcharge">IHS</abbr> refund.</p>

<p class="govuk-body">You might have to repay a different amount if:</p>

<ul class="govuk-list govuk-list--bullet">
<li>the length of your stay changes</li>
<li>you get less time on your visa than you asked for</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p class="govuk-body"><a href="/contact-ukvi-outside-uk">Contact UK Visas and Immigration</a> (<abbr title="UK Visas and Immigration">UKVI</abbr>) if your refund is not paid within 6 weeks.</p>
</div>





      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
<ul class="gem-c-pagination__list" data-module="track-click">
    <li class="gem-c-pagination__item gem-c-pagination__item--previous">
      <a href="/healthcare-immigration-application/pay" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/healthcare-immigration-application/pay" data-track-dimension="previous" data-track-dimension-index="29">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Previous
          </span>
        </span>
          <span class="gem-c-pagination__link-divider visually-hidden">:</span>
          <span class="gem-c-pagination__link-label">Pay the healthcare surcharge</span>
      </a>
    </li>
</ul>
</nav>

      
<div class="gem-c-print-link gem-c-print-link--show-without-js">
  <a class="govuk-link gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" data-module="button" role="button" href="/healthcare-immigration-application/print">Print entire guide</a>
</div>


  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href=https://www.gov.uk/apply-to-come-to-the-uk>
              Applying for a visa to come to the UK
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
    </div>
  </div>
{% endblock %}
