{% extends "layout-health.html" %}

{% block pageTitle %}
IHS question
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">

    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in
        new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
<div id="content">

  <!-- <div class="float--right">
      <nav aria-label="language-switcher.nav" class="language-switcher">
        <ul>
          <li>

         <span>English</span>
         <span aria-hidden="true"> | </span>
         <a id="switch-language" href="/help/switch-to-welsh" data-journey-click="Language:Click:Welsh">
           <span class="visuallyhidden">Newid yr iaith i'r Gymraeg</span>
           <span aria-hidden="true">Cymraeg</span>
         </a>

          </li>
        </ul>
      </nav>
    </div>-->

    

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
      <div class="govuk-form-group">
        <span class="govuk-caption-l">Application</span>
        <fieldset class="govuk-fieldset" aria-describedby="doug-ihs-question-conditional-hint-v8">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l visuallyhidden">
            <h1 class="govuk-fieldset__heading">Which payslip is first for this claim period? </h1>
        </legend>

        <p>
         This will help us to confirm that the evidence you've uploaded covers the whole claim period.
        </p>

        <div id="immigration-health-surcharge-paid-hint" class="govuk-hint"></div>
        <div class="govuk-form-group">


          <h2 class="govuk-heading-m">Payslips uploaded</h2>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    april-2020.png
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    May-2020.jpg
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                    June-2020.jpg
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                    July-2020.jpg
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    August-2020.jpg
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    September-2020.jpg
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    October-2020.jpg
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
            
         
          




          <!-- <img src="/public/images/april-2020.png" style="height: 300px;" alt="Three illustrations of taking a passport photo. Two incorrect ways show someone taking their own photo with a phone camera or webcam. The correct way shows someone else helping to take a photo that includes the person's head and shoulders."> -->
          <form class="form" action="/contracts-add-3-v20-ur-dates" method="post">
          <div class="govuk-form-group">
                      
         <!-- <span id="attachments-add-conditional-hint" class="govuk-hint">
          hint text goes here.
          </span>-->

        
          </fieldset>
          
            <!-- <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-heading-m">
                 What is the end date of this payslip
                </h2>
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2007
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset> -->
          </div>
        </div>
        </fieldset>
      </div>

        

      <a href="pay-frequency" class="govuk-button" data-module="govuk-button">Continue</a>

    </form>
  </div>
</div>

{% endblock %}