{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get a reimbursement for your immigration health surcharge service
      </h1>{{releaseVersion | log }}



</div>


      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-l">Version 4</h2>
              <p class="govuk-body">Contain the declaration journey, attachments and NINO+DoB</p>
              <p class="govuk-body">14 August 2020</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="/v3/start" class="govuk-link govuk-!-font-weight-bold">TBC</a></p>
            </div>

            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-l">Version 3</h2>
              <p class="govuk-body">Contain the declaration journey, no attachments and NINO+DoB</p>
              <p class="govuk-body">14 August 2020</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="/v3/start" class="govuk-link govuk-!-font-weight-bold">TBC</a></p>
            </div>

            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-l govuk-!-font-weight-bold">Version 2</h2>
              <p class="govuk-body">Based on MVP assumptions for UR</p>
              <p class="govuk-body">3 August 2020</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="/v2/start" class="govuk-link govuk-!-font-weight-bold">Test the prototype</a></p>
            </div>
          </div>
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l govuk-!-font-weight-bold">Version 1</h2>
                <p class="govuk-body">Covers initial design based on assumptions</p>
                <p class="govuk-body">31 July 2020</p>
                <p class="govuk-body govuk-!-margin-bottom-0"><a href="/v1/start" class="govuk-link govuk-!-font-weight-bold">Test the prototype</a></p>
            </div>

          </div>
          <div class="govuk-grid-column-full">
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  For finding more info on the versions, please use the <a href="https://miro.com/app/board/o9J_koAJPzA=/">Miro board covering the journeys</a>.<br>
                  The Miro board isn't constantly updated. Once a new version is required, the version will be added the <a href="https://miro.com/app/board/o9J_koAJPzA=/">Miro board covering the journeys</a>.
                </strong>
              </div>
            
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
            </div>

            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l govuk-!-font-weight-bold">Error pages</h2>
                <p class="govuk-body">
                  You can find the error pages:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="/error/404" class="govuk-link" data-hcontribute="guidelinegh">404</a></li>
                  <li><a href="/error/500" class="govuk-link" data-hcontribute="guidelinegh">500</a></li>
                  <li><a href="/error/503" class="govuk-link" data-hcontribute="guidelinegh">503</a></li>
                  <li><a href="/error/session-timeout" class="govuk-link" data-hcontribute="guidelinegh">Session time-out</a></li>
                </ul>
              </div>
              <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                  <h2 class="govuk-heading-l govuk-!-font-weight-bold">Other pages</h2>
                  <p class="govuk-body">
                    You can find the other page examples:
                  </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/v2/nino-error" class="govuk-link" data-hcontribute="guidelinegh">Error message example for NINO page</a></li>
                    <li><a href="/v2/attachments-fail" class="govuk-link" data-hcontribute="guidelinegh">Attachment error message</a></li>
                    <li><a href="/v2/attachments-delete" class="govuk-link" data-hcontribute="guidelinegh">Attachment delete notification</a></li>
                  </ul>
              </div>
      
            
      
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
            </div>
      
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <h2 id="support" class="govuk-heading-l">About this project</h2>
              <p class="govuk-body">Useful links to our work:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Miro - <a href="https://miro.com/app/board/o9J_kphCPp8=/">General information (can comment)</a></li>
                <li>Miro - <a href="https://miro.com/app/board/o9J_kp2ga38=/">Personas workshop (can comment)</a></li>
                <li>Miro - <a href="https://miro.com/app/board/o9J_ko6rCHs=/">Internal user journey</a></li>
                <li><a href="https://docs.google.com/presentation/d/1_6xeOF0r0qJukyZmJzJsgKoCJytJwppceEI1ObSAuyY/edit?usp=sharing">Initial powerpoint</a></li>
                <li><a href="https://bsa2468.atlassian.net/secure/RapidBoard.jspa?projectKey=IHSRI&rapidView=652">Jira</a></li>
                <li><a href="https://bsa2468.atlassian.net/wiki/spaces/BOA/overview">Confluence</a></li>
              </ul>
              <p class="govuk-body">
                This prototype is maintained by the Design team at the NHS Business Services Authority.<br>
                If you’ve got a question, idea or suggestion you can email
                <a href="mailto:a.vlad@nhs.net" class="govuk-link" data-hsupport="email">
                    a.vlad@nhs.net
                </a>
              </p>
            </div>
      
           <!-- <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
            </div>
      
            <div class="govuk-grid-column-two-thirds govuk-!-mb-r4">
              <h2 class="govuk-heading-l">Roadmap</h2>
              <p class="govuk-body">
                See what the Design System team at GDS is planning to work on over the next 12 months in the
                <a href="https://github.com/orgs/alphagov/projects/5?fullscreen=true" class="govuk-link" data-hcontribute="guidelinegh">GOV.UK Design System Roadmap (on GitHub)</a>.
              </p>
            </div>-->
      
          </div>
        </div>

    

     
   
     <!-- <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul> -->

      
    </div>
  </div>

{% endblock %}
