{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get a reimbursement for your immigration health surcharge service
      </h1>{{releaseVersion | log }}

</div>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-l">Missing Evidence</h2>
              <p class="govuk-body">Contain the IHS validation and upload of missing evidence</p>
              <p class="govuk-body">11 October 2020</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="/reapply/ihs-number-130" class="govuk-link govuk-!-font-weight-bold">Start upload of evidence</a></p>
            </div>

            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-l">Reminder Service</h2>
              <p class="govuk-body">Contain the subscription to notifications</p>
              <p class="govuk-body">11 October 2020</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="/reapply/email-address-notification" class="govuk-link govuk-!-font-weight-bold">Start subscription to notification</a></p>
            </div>
            
          </div>
          
          <div class="govuk-grid-column-full">
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  For more information on these prototypes, please see <a href="https://miro.com/app/board/o9J_koKQ0XA=/">Miro board covering the process flows and 
                  journeys</a>.<br>
                  Miro board last updated 11 Oct 2020, please see anything under a (dated) light green arrow

                </strong>
              </div>
          
              <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                  <h2 class="govuk-heading-l govuk-!-font-weight-bold">Other information</h2>
                  <p class="govuk-body">
                    You can find the other page examples:
                  </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/reapply/link-expiry-130" class="govuk-link" data-hcontribute="guidelinegh">UME - expired link</a></li>
                    <li><a href="/reapply/invalid-details-130" class="govuk-link" data-hcontribute="guidelinegh">UME - invalid IHS No or Claim Ref</a></li>
                    <li><a href="/reapply/confirmation-of-notification-130" class="govuk-link" data-hcontribute="guidelinegh">UME - email confirmation</a></li>
                  </ul>

              </div>
      
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
            </div>
      
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <h2 id="support" class="govuk-heading-l">About this project</h2>
              <p class="govuk-body">Useful links:</p>
              <ul class="govuk-list govuk-list--bullet">
                 <li><a href="https://bsa2468.atlassian.net/secure/RapidBoard.jspa?projectKey=IHSRI&rapidView=652">Jira</a></li>
                 <li><a href="https://bsa2468.atlassian.net/wiki/spaces/BOA/overview">Confluence</a></li>
              </ul>
              <p class="govuk-body">
                This prototype is maintained by the Design Team at the NHS Business Services Authority.<br>
                Any questions, idea or suggestion please email
                <a href="mailto:douglas.caven@nhs.net" class="govuk-link" data-hsupport="email">
                    douglas.caven@nhs.net
                </a>
              </p>
            </div>
    </div>
  </div>

{% endblock %}
