{% extends "layout-health.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      IHS - Health & Social Care
    </h1>{{releaseVersion | log }}

    <h2 class="govuk-heading-m">Evidence upload design changes MVP - December 2024</h2>
    <p>Below is a list of links and prototypes for the MVP release of the evidence upload changes.</p>


    <div class="my-div" style="background-color:#1d70b8; padding:20px; border-radius: 10px;">
      
        <h2 class="govuk-heading-m" style="color: white;">Evidence Upload Section - Signed Off</h2>

        <p style="color: white;">The evidence upload section of the journey was signed off and confirmed on the 17th
          December 2024.</p>

        <p style="color: white;">The start page approach is to be confirmed and we will either:</p>
        <ul class="govuk-list govuk-list--bullet" style="color: white;">
          <li>make minor adjustments to the existing gov managed start page</li>
          <li>go ahead with creating a new IHS owned start page</li>
        </ul>
        <hr style="color: white;">
        <br>
        <a class="fill-div" href="v20-mvp/ideation/contract-upload-task">
        <div style="background-color:rgb(54, 112, 54); padding:20px; border-radius: 10px; border:1px solid white;
">
          <h2 class="govuk-heading-m" style="color: white; text-align: center; ">View Prototype</h2>
        </div>
      </a>
    </div>
    <br>

    <hr>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              MVP - Full Journey Prototypes
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Prototype</th>
                <th scope="col" class="govuk-table__header">Description</th>

                <th scope="col" class="govuk-table__header">Link</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">MVP - From the start page</th>
                <td class="govuk-table__cell">This prototype is the MVP journey from the start page version which has
                  minor tweaks and changes.</td>
                <td class="govuk-table__cell"><a href="/v20-mvp/start" role="button" draggable="false"
                    class="govuk-button govuk-button--start" data-module="govuk-button">
                    Prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a></td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">MVP - From the new IHS owned start page</th>
                <td class="govuk-table__cell">This prototype is the MVP journey from the potential new start page
                  version which would be managed and owned by the IHS team</td>
                <td class="govuk-table__cell"><a href="/v20-mvp/gov-start" role="button" draggable="false"
                    class="govuk-button govuk-button--start" data-module="govuk-button">
                    Prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              MVP - Evidence Upload Journey Prototypes
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
          <table class="govuk-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Prototype</th>
                <th scope="col" class="govuk-table__header">Description</th>

                <th scope="col" class="govuk-table__header">Link</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">MVP evidence upload journey</th>
                <td class="govuk-table__cell">This prototype is the MVP evidence upload section of the application.</td>
                <td class="govuk-table__cell"><a href="/v20-mvp/ideation/contract-upload-task" role="button"
                    draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a></td>
              </tr>

            </tbody>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">MVP evidence upload journey - Javascript off version</th>
                <td class="govuk-table__cell">This prototype is the MVP evidence upload section of the application with
                  javascript disabled, which removes multi file upload across all pages.</td>
                <td class="govuk-table__cell"><a href="/v20-mvp-no-js/ideation/contract-upload-task" role="button"
                    draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Error messages
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
         
            <table class="govuk-table">

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Prototype</th>
                  <th scope="col" class="govuk-table__header">Description</th>
  
                  <th scope="col" class="govuk-table__header">Link</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Contract upload error example</th>
                  <td class="govuk-table__cell">This is an example look and feel page for the contract upload page error message.</td>
                  <td class="govuk-table__cell"><a href="/v20-mvp/error-messages/contract-upload-task" role="button"
                      draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Prototype
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a></td>
                </tr>
  
              </tbody>
  
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Contract check your answers error example</th>
                  <td class="govuk-table__cell">This is an example look and feel page for the contract CYA page error message.</td>
                  <td class="govuk-table__cell"><a href="/v20-mvp/error-messages/contract-cya" role="button"
                      draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Prototype
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a></td>
                </tr>
  
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Task list error example</th>
                  <td class="govuk-table__cell">This is an example look and feel page for the task list page error message.</td>
                  <td class="govuk-table__cell"><a href="/v20-mvp/error-messages/task-list-error" role="button"
                      draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Prototype
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a></td>
                </tr>
  
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Monthly upload error example</th>
                  <td class="govuk-table__cell">This is an example look and feel page for the monthly upload page error message.</td>
                  <td class="govuk-table__cell"><a href="/v20-mvp/error-messages/april" role="button"
                      draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Prototype
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a></td>
                </tr>
  
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Extra information (optional) error example</th>
                  <td class="govuk-table__cell">This is an example look and feel page for the optional extra information error message.</td>
                  <td class="govuk-table__cell"><a href="/v20-mvp/error-messages/extra-information" role="button"
                      draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Prototype
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a></td>
                </tr>
  
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Extra information (mandatory) error example</th>
                  <td class="govuk-table__cell">This is an example look and feel page for the extra information error message when someone has left a gap in employment and therefore the extra info comment box is mandatory.</td>
                  <td class="govuk-table__cell"><a href="/v20-mvp/error-messages/extra-information-gaps" role="button"
                      draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Prototype
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a></td>
                </tr>
  
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Check extra information error example</th>
                  <td class="govuk-table__cell">This is an example look and feel page for the check extra information error message.</td>
                  <td class="govuk-table__cell"><a href="/v20-mvp/error-messages/check-extra-info" role="button"
                      draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Prototype
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a></td>
                </tr>
  
              </tbody>
            </table>

       
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              ADHOC Pages
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content">
          <p class="govuk-body"></p>
        </div>
      </div>
    </div>















    <!-- <h2 class="govuk-heading-m">Evidence upload design changes Post MVP/Version 2.0</h2>
  


   <hr>

   <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
           MVP - Full Journey Prototypes
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header">Description</th>
    
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">From the start page</th>
              <td class="govuk-table__cell">This prototype is the 2.0 journey from the start page version which has minor tweaks and changes.</td>
              <td class="govuk-table__cell"><a href="/v20/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
           Prototype
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
              </a></td>
    
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">From the new IHS owned start page</th>
              <td class="govuk-table__cell">This prototype is the 2.0 journey from the potential new start page version which would be managed and owned by the IHS team</td>
              <td class="govuk-table__cell"><a href="/v20/gov-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Prototype
                     <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                       <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                     </svg>
                   </a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            MVP - Evidence Upload Journey Prototypes
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content">
        <table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header">Description</th>
    
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MVP evidence upload journey</th>
              <td class="govuk-table__cell">This prototype is the MVP evidence upload section of the application.</td>
              <td class="govuk-table__cell"><a href="/v20-mvp/ideation/contract-upload-task" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Prototype
                     <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                       <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                     </svg>
                   </a></td>
            </tr>
            
          </tbody>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MVP evidence upload journey - Javascript off version</th>
              <td class="govuk-table__cell">This prototype is the MVP evidence upload section of the application with javascript disabled, which removes multi file upload across all pages.</td>
              <td class="govuk-table__cell"><a href="/v20-mvp-no-js/ideation/contract-upload-task" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Prototype
                     <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                       <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                     </svg>
                   </a></td>
            </tr>
            
          </tbody>
        </table>      </div>
    </div>
    
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Error messages
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content">
        <p class="govuk-body">This is the content for Know your audience.</p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            ADHOC Pages
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">This is the content for How people read.</p>
      </div>
    </div> 
  </div> -->
























    <!-- <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading govuk-heading-m" >
          <a href="#" style="color: black;">Evidence Upload MVP</a>
        </h2>
        <p>This pro</p>

      </div>
    </div>

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="#">Evidence Upload MVP - No Javascript</a>
        </h2>
        <p>Practical advice to help you feel mentally and emotionally better</p>

      </div>
    </div> -->










    <style>
      #my-div {}

      a.fill-div {

        height: 100%;
        width: 100%;
        text-decoration: none;
      }
    </style>



  </div>
</div>



{% endblock %}