<!-- claim-date.html -->
{% extends "layout-portal.html" %}

{% block pageTitle %}
  Claim date
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback (opens in new tab)</a> will help us to improve this service.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="/v20/dependant-question">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Application</span>
      Check you have all the evidence you need
    </h1>

    <p>   This application is for your most recent claim period.</p>
    <div class="govuk-inset-text">
   
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            1 January 2025
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           End date
          </dt>
          <dd class="govuk-summary-list__value">
            30 June 2025
          </dd>
          
        </div>
        
        
      </dl>   </div>

  


    <p>You'll need to send evidence showing that you worked in a health and social care role from <strong><span id="start-date">1 January 2025</span></strong> to <strong><span id="end-date">30 June 2025</span></strong>.</p>

    <h2 class="govuk-heading-m">Payslips</h2>

    <div id="seven-month-info" class="govuk-warning-text" hidden="">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Your claim period includes days from 7 months. You'll need to upload payslips from all 7 months to cover the full period.
      </strong>
    </div>

    <p>You'll need to send payslips that cover:</p>
    <ul class="govuk-list govuk-list--bullet" id="payslip-dates"><li>1 January 2025 to 31 January 2025</li><li>1 February 2025 to 28 February 2025</li><li>1 March 2025 to 31 March 2025</li><li>1 April 2025 to 30 April 2025</li><li>1 May 2025 to 31 May 2025</li><li>1 June 2025 to 30 June 2025</li></ul>

    <!-- Current month warning inset text -->
    <div id="current-month-warning" class="govuk-inset-text" hidden="">
      If the applicant has not been paid for <span id="current-month-year"></span> yet, you should wait to apply until they have a payslip for <span id="current-month-year-2"></span>.
    </div>

    <h2 class="govuk-heading-m">Job contract</h2>
    <p>You'll also need to send copies of your contracts for all the jobs you're sending payslips for. You should ask your employer for a copy of your contract if you do not have one.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If you cannot get all of this evidence
        </span>
      </summary>
      <div class="govuk-details__text">
        If you cannot send some of the payslips in this list, you'll need to add some extra information and evidence to your application explaining the gaps.<br><br> 
        For example, if you were on leave, you'll need to send a headed, signed and dated letter from your employer confirming the dates you were on leave.
      </div>
    </details>

    <form class="form" action="your-claim-period" method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Do you have all the evidence in the list or alternative evidence to cover any gaps?
          </h1>
        </legend>            
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="average-time-conditional" name="evidence-check" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="average-time-conditional">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="average-time-conditional-2" name="evidence-check" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="average-time-conditional-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
      <br>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>



{% endblock %}
