{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v7/ihs-number-130">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-heading-l">What's your immigration health surcharge number?</h1>-->
      <h1 class="govuk-heading-l">Please enter your immigration health surcharge claim reference number?</h1>
     
      <form class="form" action="/v7/attachments-130" method="post">

 <div class="govuk-form-group">
          <label class="govuk-label" for="national-insurance-number">
            Claim reference number
          </label>
          <span id="national-insurance-number-hint" class="govuk-hint">
              When you made your immigration health surcharge reimbursement claim, an email would have been sent which contains this number. 
              For example, 'BSA1234'.
          </span>
          <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint" spellcheck="false">
        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
