{% extends "/layouts/layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>You've successfully submitted a claim for an immigration health surcharge reimbursement.</p>
      <p>We've sent you an email to confirm this.</p>
      <p>The applicant's claim period is: <strong>1 October 2020</strong> to <strong>31 March 2021</strong>.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll assess the claim within the next 6 weeks. However, it could take longer than this to receive your money.</p>

      <h2 class="govuk-heading-m">Get help with your application</h2>

      <ul class="govuk-list">
        <li>Telephone: XXXXX XXXXXX </li>
        <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>

      <p><a href="https://www.gov.uk/done/apply-immigration-health-surcharge-refund">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
