{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://wh1.snapsurveys.com/SURVEY_PREVIEW.asp?k=162645215363">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="/v11/check-your-answers-nhs-path">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Submit application</span>
          Declaration
      </h1>


      <p>By continuing, you declare and agree that:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>you are aware that either you or your dependant(s) cannot undertake paid work to receive immigration health surcharge (IHS) reimbursement</li>
          <li>the information you’ve given on this form, including any supporting documents, is complete and accurate</li>
          <li>if you provide false or misleading information, you Smay not receive your payment and you could be liable to criminal prosecution and / or civil proceedings</li>
          <li>you’re aware that <a href="/footer/privacy">information you give may be shared with other departments</a> for the purposes of fraud prevention, detection and investigations</li>
          <li>you’re aware that information you give may be shared as part of the Cabinet Office National Fraud Initiative (NFI) exercise to prevent and detect fraud</li>
          <li>you’re aware that the NHSBSA provides data to the NHS Counter Fraud Authority when referrals of alleged fraud, bribery and corruption are received</li>
      </ul>

      <!-- <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
           Giving false or misleading information, payment may be refused and you may be prosecuted
            <p>If you deliberately give false or misleading information you may get less compensation or be prosecuted by XXXX for a penalty of up to YYYY.</p>
          </strong>

        </div>-->

      <form action="/v12/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
