{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">The dependant is not eligible for an immigration health surcharge reimbursement or a refund</h1>

      <form class="form" action="/v10/start" method="post">

        <p class="govuk-body">Based on the information provided, we don’t think this dependant is eligible for Immigration Health Surcharge (IHS) reimbursement.</p>

        <p class="govuk-body">The applicant can use this service if they:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have paid an immigration health surcharge for their current visa</li>
          <li>are working or have worked in health and social care for 6 months or more</li>
          <li>worked for an average of 16 hours or more a week in health and social care</li>
        </ul>

        <p class="govuk-body">If you have any questions, <a href="/footer/contact-us">contact us</a>. 
        <br>
        <br>
Find out 
        <a href="/v10/start-gov">more information about immigration health surcharge</a>.</p>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>


{% endblock %}
